<?xml version="1.0" encoding="UTF-8"?>

<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <head>
    <title>Writing Javadoc Checks</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"/>
    <script type="text/javascript" src="js/anchors.js"/>
    <script type="text/javascript" src="js/google-analytics.js"/>
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/ico" />
  </head>

  <body>
    <section name="Content">
      <macro name="toc">
        <param name="fromDepth" value="1"/>
        <param name="toDepth" value="1"/>
      </macro>
    </section>

    <section name="What is Javadoc comment">
      <p>
      Javadoc comment is multiline comment <code>/*  */</code> that starts with <b>*</b> character and placed above class definition, interface definition, enum definition, method definition or field definition.
      <p>For example, here is java file:</p>
      <source><![CDATA[
/**
 * My <b>class</b>.
 * @see AbstractClass
 */
public class MyClass {

}
      ]]></source>
      Javadoc content is:
      <source><![CDATA[
 * My <b>class</b>.
 * @see AbstractClass
      ]]></source>
      </p>
      Attention that java comment starts with <code>/*</code>, following with Identificator of comment type. Javadoc Identificator is <code>*</code>. All symbols after Javadoc Identificator till <code>*/</code> are part of javadoc comment.
      <p>Please not that javadoc-like comment inside a method is not a javadoc comment and skiped by
         Sun/Oracle javadoc tool and by our parser.
      </p>
      <p>In internet you can find different types of documentation
      generation tools similar to javadoc. Such tools rely on specific Identificator: "!", "#", "$".
      Comments looks like <code>"/*! some comment */"</code> , <code>"/*# some comment */"</code> , <code>"/*$ some comment */"</code>. Such multiline comments are not a javadoc.
      </p>
    </section>

    <section name="Limitations">
      <p>
      Javadoc by specification could contain any HTML tags that let user generate content he needs.
      All tags are copied as is to result javadoc html pages by Sun/Oracle javadoc tool.
      All bad formatting is responsibility of user and web-browser. To validate Chekcstyle to parse
      input to predictable structure - Abstract Syntax Tree(AST). It is very difficult to parse free style
      format, so input text need to follow some format, so limitation appears.
      </p>
      <p>
      The comment should be written in <a href="#Tight-HTML_rules">Tight-HTML</a> to build nested AST Tree that most Checks expect.
      </p>
      <p>
        For more details about parsing of HTML into AST read <a href="#HTML_Code_In_Javadoc_Comments">HTML Code In Javadoc Comments</a> and <a href="#Javadoc_parser_behavior_for_current_HTML_version_and_new_HTML_version">Javadoc parser behavior
        </a>  section.
      </p>
    </section>

    <section name="Tight-HTML rules">
      <p>
      Every HTML tag should have matching end HTML tag or it is a <a href="https://www.w3.org/TR/html-markup/syntax.html#void-element">void element</a>.
      </p>
      <p>
      The only exceptions are HTML 4 tags whose end tag is optional(ommitable) by HTML specification (example is <a href="https://www.w3.org/TR/html5/tabular-data.html#the-tr-element">TR</a>), so, Checkstyle won't show error about missing end tag, however, it leads to broken Tight-HTML structure and as a result
      leads to not-nested content of the HTML tags in Abstract Syntax Tree of the Javadoc comment.
      <br/>
      In other words, if HTML tags are not closed Javadoc grammar cannot determine content of these tags,
      so structure of the parse tree will not be nested like it is while using <a href="#Tight-HTML_rules">Tight-HTML</a> code.
      It is done just to not fail on every Javadoc comment, because there are tons of using unclosed tags, etc.
      </p>
      Other rules:
      <ul>
        <li>Document Structure elements (DOCTYPE, &lt;html&gt;, &lt;body&gt;, etc) are not mandatory.</li>
        <li>Elements must always be closed, except HTML4 elements whose end tag is optional(ommitable) and HTML4 <a href="https://www.w3.org/TR/html-markup/syntax.html#void-element">void elements</a>. See <a href="#HTML_Code_In_Javadoc_Comments">HTML Code In Javadoc Comments</a> section</li>
        <li>HTML elements can be either in lowercase or in uppercase</li>
        <li>Attribute names can be either in lowercase or in uppercase</li>
        <li>Attribute values can be either quoted or not be quoted</li>
      </ul>
    </section>

    <section name="How to create Javadoc Check">
      <p>
        Principle of writing Javadoc Checks is similar to writing regular Checks. You just extend another abstract class and use another token types.
      </p>
      <p>
      To start implementing new Check create a new class and extend <a href='apidocs/com/puppycrawl/tools/checkstyle/checks/javadoc/AbstractJavadocCheck.html'>AbstractJavadocCheck</a>.
      It has two abstract methods you should implement:
      </p>
      <ul>
        <li>
          <a href="apidocs/com/puppycrawl/tools/checkstyle/checks/javadoc/AbstractJavadocCheck.html#getDefaultJavadocTokens--">getDefaultJavadocTokens()</a> - return int array of
          javadoc token types your Check is going to process. The array should contain int constants from <a href="apidocs/com/puppycrawl/tools/checkstyle/api/JavadocTokenTypes.html">
          JavadocTokenTypes</a> class. (There is also <a href="apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html">TokenTypes</a> class in Checkstyle. Make sure you use
          <a href="apidocs/com/puppycrawl/tools/checkstyle/api/JavadocTokenTypes.html">JavadocTokenTypes</a> class in your Check, because the
          <a href="apidocs/com/puppycrawl/tools/checkstyle/api/TokenTypes.html">TokenTypes</a> is used to describe standard Java
          <a href="apidocs/com/puppycrawl/tools/checkstyle/api/DetailAST.html">DetailAST</a> token type.)
        </li>
        <li>
          <a href="apidocs/com/puppycrawl/tools/checkstyle/checks/javadoc/AbstractJavadocCheck.html#visitJavadocToken-com.puppycrawl.tools.checkstyle.api.DetailNode-">
          visitJavadocToken(DetailNode)</a> - it's a place you should put tree nodes proccessing. The argument is Javadoc tree node of type you described before in
          <a href="apidocs/com/puppycrawl/tools/checkstyle/checks/javadoc/AbstractJavadocCheck.html#getDefaultJavadocTokens--">getDefaultJavadocTokens()</a> method.
        </li>
      </ul>
    </section>

    <section name="Difference between Java Grammar and Javadoc comments Grammar">
      <p>
        Java grammar parses java file base on Java language specifications. So, there are singleline comments and multiline/block comments in it.
        Java compiler doesn't know about Javadoc because it is just a multiline comment.
        To parse multiline comment as a Javadoc comment, checkstyle has special Parser
        that is based on ANTLR Javadoc grammar. So, it's supposed to proccess block comments
        that start with Javadoc Identificator and parse them to Abstract Syntax Tree (AST).
      </p>
      <p>
        The difference is that Java grammar uses ANTLR v2, while Javadoc grammar uses ANTLR v4. Because of that, these two grammars and their trees are not compatible.
        Java AST consists of <a href="apidocs/com/puppycrawl/tools/checkstyle/api/DetailAST.html">DetailAST</a> objects, while Javadoc AST consists of <a href="apidocs/com/puppycrawl/tools/checkstyle/api/DetailNode.html">DetailNode</a> objects.
      </p>
      <p>
        Main Java grammar skips any whitespaces and newlines, so in Java Abstract Syntax Tree there are no whitespace/newline nodes.
        In Javadoc comment every whitespace matters, and Javadoc Checks need all those whitespaces and newline nodes to verify format and content of the Javadoc comment.
        Because of that Javadoc grammar includes all whitespaces, newlines to the parse tree
        (<a href="apidocs/com/puppycrawl/tools/checkstyle/api/JavadocTokenTypes.html#WS">WS</a>, <a href="apidocs/com/puppycrawl/tools/checkstyle/api/JavadocTokenTypes.html#NEWLINE">NEWLINE</a>).
        As you may notice there is also <a href="apidocs/com/puppycrawl/tools/checkstyle/api/JavadocTokenTypes.html#CHAR">CHAR</a> javadoc token that presents single character.
        It is quite useless and is used for building only <a href="apidocs/com/puppycrawl/tools/checkstyle/api/JavadocTokenTypes.html#TEXT">TEXT</a> node which consists of
        <a href="apidocs/com/puppycrawl/tools/checkstyle/api/JavadocTokenTypes.html#CHAR">CHAR</a> and
        <a href="apidocs/com/puppycrawl/tools/checkstyle/api/JavadocTokenTypes.html#WS">WS</a> nodes, but it is implementation nuance.
        (In future we will try to resolve this. See <a href="https://github.com/checkstyle/checkstyle/issues/3170">Github Issue #3170</a>).
      </p>
    </section>

    <section name="Tool to print Javadoc tree structure">
      <p>
      Checkstyle can print Abstract Syntax Tree for Java and Javadoc trees. You need to run checkstyle jar file with <b>-J</b> argument, providing java file.
      </p>
      <p>For example, here is MyClass.java file:</p>
      <source><![CDATA[
/**
 * My <b>class</b>.
 * @see AbstractClass
 */
public class MyClass {

}
      ]]></source>
      <p>Command:</p>
      <source>java -jar checkstyle-X.XX-all.jar -J MyClass.java</source>
      <p>Output:</p>
      <source><![CDATA[
CLASS_DEF -> CLASS_DEF [5:0]
|--MODIFIERS -> MODIFIERS [5:0]
|   |--JAVADOC -> \r\n * My <b>class</b>.\r\n * @see AbstractClass\r\n <EOF> [1:0]
|   |   |--NEWLINE -> \r\n [1:0]
|   |   |--LEADING_ASTERISK ->  * [2:0]
|   |   |--TEXT ->  My  [2:2]
|   |   |   |--WS ->   [2:2]
|   |   |   |--CHAR -> M [2:3]
|   |   |   |--CHAR -> y [2:4]
|   |   |   `--WS ->   [2:5]
|   |   |--HTML_ELEMENT -> <b>class</b> [2:6]
|   |   |   `--HTML_TAG -> <b>class</b> [2:6]
|   |   |       |--HTML_ELEMENT_OPEN -> <b> [2:6]
|   |   |       |   |--OPEN -> < [2:6]
|   |   |       |   |--HTML_TAG_NAME -> b [2:7]
|   |   |       |   `--CLOSE -> > [2:8]
|   |   |       |--TEXT -> class [2:9]
|   |   |       |   |--CHAR -> c [2:9]
|   |   |       |   |--CHAR -> l [2:10]
|   |   |       |   |--CHAR -> a [2:11]
|   |   |       |   |--CHAR -> s [2:12]
|   |   |       |   `--CHAR -> s [2:13]
|   |   |       `--HTML_ELEMENT_CLOSE -> </b> [2:14]
|   |   |           |--OPEN -> < [2:14]
|   |   |           |--SLASH -> / [2:15]
|   |   |           |--HTML_TAG_NAME -> b [2:16]
|   |   |           `--CLOSE -> > [2:17]
|   |   |--TEXT -> . [2:18]
|   |   |   `--CHAR -> . [2:18]
|   |   |--NEWLINE -> \r\n [2:19]
|   |   |--LEADING_ASTERISK ->  * [3:0]
|   |   |--WS ->   [3:2]
|   |   |--JAVADOC_TAG -> @see AbstractClass\r\n  [3:3]
|   |   |   |--SEE_LITERAL -> @see [3:3]
|   |   |   |--WS ->   [3:7]
|   |   |   |--REFERENCE -> AbstractClass [3:8]
|   |   |   |   `--CLASS -> AbstractClass [3:8]
|   |   |   |--NEWLINE -> \r\n [3:21]
|   |   |   `--WS ->   [4:0]
|   |   `--EOF -> <EOF> [4:1]
|   `--LITERAL_PUBLIC -> public [5:0]
|--LITERAL_CLASS -> class [5:7]
|--IDENT -> MyClass [5:13]
`--OBJBLOCK -> OBJBLOCK [5:21]
    |--LCURLY -> { [5:21]
    `--RCURLY -> } [7:0]
      ]]></source>
      <p>
      As you see very small java file transforms to a huge Abstract Syntax Tree, because that is the most detailed tree including all components of the java file: classes, methods, comments, etc.
      </p>
      <p>In most cases while developing Javadoc Check you need only parse tree of the exact Javadoc comment.
      To do that just copy Javadoc comment to separate file and remove <b>/**</b> at the begining and <b>*/</b> at the end. After that, run checkstyle with <b>-j</b> argument.
      </p>
      <p>MyJavadocComment.javadoc file:</p>
      <source><![CDATA[
 * My <b>class</b>.
 * @see AbstractClass
      ]]></source>
      <p>Command:</p>
      <source>java -jar checkstyle-X.XX-all.jar -j MyJavadocComment.javadoc</source>
      <p>Output:</p>
      <source><![CDATA[
JAVADOC ->  * My <b>class</b>.\r\n * @see AbstractClass<EOF> [0:0]
|--LEADING_ASTERISK ->  * [0:0]
|--TEXT ->  My  [0:2]
|   |--WS ->   [0:2]
|   |--CHAR -> M [0:3]
|   |--CHAR -> y [0:4]
|   `--WS ->   [0:5]
|--HTML_ELEMENT -> <b>class</b> [0:6]
|   `--HTML_TAG -> <b>class</b> [0:6]
|       |--HTML_ELEMENT_OPEN -> <b> [0:6]
|       |   |--OPEN -> < [0:6]
|       |   |--HTML_TAG_NAME -> b [0:7]
|       |   `--CLOSE -> > [0:8]
|       |--TEXT -> class [0:9]
|       |   |--CHAR -> c [0:9]
|       |   |--CHAR -> l [0:10]
|       |   |--CHAR -> a [0:11]
|       |   |--CHAR -> s [0:12]
|       |   `--CHAR -> s [0:13]
|       `--HTML_ELEMENT_CLOSE -> </b> [0:14]
|           |--OPEN -> < [0:14]
|           |--SLASH -> / [0:15]
|           |--HTML_TAG_NAME -> b [0:16]
|           `--CLOSE -> > [0:17]
|--TEXT -> . [0:18]
|   `--CHAR -> . [0:18]
|--NEWLINE -> \r\n [0:19]
|--LEADING_ASTERISK ->  * [1:0]
|--WS ->   [1:2]
|--JAVADOC_TAG -> @see AbstractClass [1:3]
|   |--SEE_LITERAL -> @see [1:3]
|   |--WS ->   [1:7]
|   `--REFERENCE -> AbstractClass [1:8]
|       `--CLASS -> AbstractClass [1:8]
`--EOF -> <EOF> [1:21]
      ]]></source>
    </section>

    <section name="Access Java AST from Javadoc Check">
      As you already know Javadoc parse tree is a result of parsing block comment. There is a method to get the original block comment from Javadoc Check.
      You may need this block comment to check its position or something else in java <a href="apidocs/com/puppycrawl/tools/checkstyle/api/DetailAST.html">DetailAST</a> tree.
      <p>
      For example, to write a JavadocCheck that verifies @param tags in Javadoc comment of a method definition, you also need all method's parameter names. To get method definition AST you should access java <a href="apidocs/com/puppycrawl/tools/checkstyle/api/DetailAST.html">DetailAST</a> tree from javadoc Check. For this purpose use <a href="apidocs/com/puppycrawl/tools/checkstyle/checks/javadoc/AbstractJavadocCheck.html#getBlockCommentAst--">getBlockCommentAst()</a> method that returns <a href="apidocs/com/puppycrawl/tools/checkstyle/api/DetailAST.html">DetailAST</a> node.
      </p>
      <p>
        Example:
      </p>
      <source>
class MyCheck extends AbstractJavadocCheck {

    @Override
    public int[] getDefaultJavadocTokens() {
        return new int[]{JavadocTokenTypes.PARAMETER_NAME};
    }

    @Override
    public void visitJavadocToken(DetailNode paramNameNode) {
        String javadocParamName = paramNameNode.getText();
        DetailAST blockCommentAst = getBlockCommentAst();

        if (BlockCommentPosition.isOnMethod(blockCommentAst)) {

            DetailAST methodDef = blockCommentAst.getParent();
            DetailAST methodParam = findMethodParameter(methodDef);
            String methodParamName = methodParam.getText();

            if (!javadocParamName.equals(methodParamName)) {
                log(methodParam, "params.dont.match");
            }

        }
    }
}
      </source>
    </section>

    <section name="HTML Code In Javadoc Comments">
      <p>
        Checkstyle supports HTML4 tags in Javadoc comments: <a href="https://www.w3.org/TR/html4/index/elements.html">all HTML4 elements</a>.
      </p>
      <p>
        HTML4 is picked just to have a list of elements whose end tag is optional(ommitable) and a list of <a href="https://www.w3.org/TR/html-markup/syntax.html#void-element">void elements</a> (also known as <a href="http://www.w3schools.com/html/html_elements.asp">empty html tags</a>, for example <a href="https://www.w3.org/TR/html4/struct/text.html#edef-BR">BR tag</a>).
      </p>
      <p>
        HTML4 elements whose end tag is optional(ommitable): &lt;P&gt;, &lt;LI&gt;, &lt;TR&gt;, &lt;TD&gt;, &lt;TH&gt;, &lt;BODY&gt;, &lt;COLGROUP&gt;, &lt;DD&gt;,
        &lt;DT&gt;, &lt;HEAD&gt;, &lt;HTML&gt;, &lt;OPTION&gt;, &lt;TBODY&gt;, &lt;THEAD&gt;, &lt;TFOOT&gt;.
      </p>
      <p>
        Void HTML4 elements: &lt;AREA&gt;, &lt;BASE&gt;, &lt;BASEFONT&gt;, &lt;BR&gt;, &lt;COL&gt;, &lt;FRAME&gt;,
        &lt;HR&gt;, &lt;IMG&gt;, &lt;INPUT&gt;, &lt;ISINDEX&gt;, &lt;LINK&gt;, &lt;META&gt;, &lt;PARAM&gt;.
      </p>

      <p>
        To make Checkstyle support HTML5 tags whose end tag is optional(ommitable) and HTML5 void elements we should update Javadoc Parser
        bacause each element that breaks <a href="#Tight-HTML_rules">Tight-HTML rules</a> have to be defined in Javadoc grammar.
        In future we should update Javadoc grammar if those tag lists extend (new tags, new HTML standard, etc.).
        (We already have an <a href='https://github.com/checkstyle/checkstyle/issues/3332'>issue on updating Javadoc grammar to HTML5</a>)
      </p>

      <p>
        If Checkstyle meets unknown tag (for example HTML5 tag)
        it doesn't fail and parses this tag as <a href="apidocs/com/puppycrawl/tools/checkstyle/api/JavadocTokenTypes.html#HTML_TAG">HTML_TAG</a> Javadoc token type.
        Just follow <a href="#Tight-HTML_rules">Tight-HTML rules</a> to make Checkstyle javadoc parser make nested AST, even though tags are unknown.

        <source><![CDATA[
<audio><source src="horse.ogg" type="audio/ogg"/></audio>
        ]]></source>

        <source><![CDATA[
JAVADOC -> <audio><source src="horse.ogg" type="audio/ogg"/></audio><EOF> [0:0]
|--HTML_ELEMENT -> <audio><source src="horse.ogg" type="audio/ogg"/></audio> [0:0]
|   `--HTML_TAG -> <audio><source src="horse.ogg" type="audio/ogg"/></audio> [0:0]
|       |--HTML_ELEMENT_OPEN -> <audio> [0:0]
|       |   |--OPEN -> < [0:0]
|       |   |--HTML_TAG_NAME -> audio [0:1]
|       |   `--CLOSE -> > [0:6]
|       |--HTML_ELEMENT -> <source src="horse.ogg" type="audio/ogg"/> [0:7]
|       |   `--SINGLETON_ELEMENT -> <source src="horse.ogg" type="audio/ogg"/> [0:7]
|       |       `--SINGLETON_TAG -> <source src="horse.ogg" type="audio/ogg"/> [0:7]
|       |           |--OPEN -> < [0:7]
|       |           |--HTML_TAG_NAME -> source [0:8]
|       |           |--WS ->   [0:14]
|       |           |--ATTRIBUTE -> src="horse.ogg" [0:15]
|       |           |   |--HTML_TAG_NAME -> src [0:15]
|       |           |   |--EQUALS -> = [0:18]
|       |           |   `--ATTR_VALUE -> "horse.ogg" [0:19]
|       |           |--WS ->   [0:31]
|       |           |--ATTRIBUTE -> type="audio/ogg" [0:32]
|       |           |   |--HTML_TAG_NAME -> type [0:32]
|       |           |   |--EQUALS -> = [0:36]
|       |           |   `--ATTR_VALUE -> "audio/ogg" [0:37]
|       |           `--SLASH_CLOSE -> /> [0:49]
|       `--HTML_ELEMENT_CLOSE -> </audio> [0:51]
|           |--OPEN -> < [0:51]
|           |--SLASH -> / [0:52]
|           |--HTML_TAG_NAME -> audio [0:53]
|           `--CLOSE -> > [0:58]
`--EOF -> <EOF> [0:59]
        ]]></source>
      </p>

    <p>
      Here is what you get if unknown tag doesn't have matching end tag (for example, HTML5 tag &lt;audio&gt;): <br/>
      Input:
      <source>&lt;audio&gt;test</source>
      Output:
      <source>[ERROR:0] Javadoc comment at column 1 has parse error. Missed HTML close tag 'audio'. Sometimes it means that close tag missed for one of previous tags.</source>
      As you see Javadoc parser prints error and doesn't build AST if unknown HTML tag doesn't have matching end tag. If that a case please create an issue against Checkstyle to upgrade parser.
    </p>

    <p>
      There are also HTML tags that are marked as "Not supported in HTML5" (<a href='http://www.w3schools.com/tags/default.asp'>HTML Element Reference</a>).
      Checkstyle Javadoc parser can parse those tags too if they are written in <a href="#Tight-HTML_rules">Tight-HTML</a>.
      <br/>
      Example.
      <br/>
      Input:
      <source><![CDATA[
<acronym title="as soon as possible">ASAP</acronym>
      ]]></source>
      <br/>
      Output:
      <source><![CDATA[
JAVADOC -> <acronym title="as soon as possible">ASAP</acronym><EOF> [0:0]
|--HTML_ELEMENT -> <acronym title="as soon as possible">ASAP</acronym> [0:0]
|   `--HTML_TAG -> <acronym title="as soon as possible">ASAP</acronym> [0:0]
|       |--HTML_ELEMENT_OPEN -> <acronym title="as soon as possible"> [0:0]
|       |   |--OPEN -> < [0:0]
|       |   |--HTML_TAG_NAME -> acronym [0:1]
|       |   |--WS ->   [0:8]
|       |   |--ATTRIBUTE -> title="as soon as possible" [0:9]
|       |   |   |--HTML_TAG_NAME -> title [0:9]
|       |   |   |--EQUALS -> = [0:14]
|       |   |   `--ATTR_VALUE -> "as soon as possible" [0:15]
|       |   `--CLOSE -> > [0:37]
|       |--TEXT -> ASAP [0:38]
|       |   |--CHAR -> A [0:38]
|       |   |--CHAR -> S [0:39]
|       |   |--CHAR -> A [0:40]
|       |   `--CHAR -> P [0:41]
|       `--HTML_ELEMENT_CLOSE -> </acronym> [0:42]
|           |--OPEN -> < [0:42]
|           |--SLASH -> / [0:43]
|           |--HTML_TAG_NAME -> acronym [0:44]
|           `--CLOSE -> > [0:51]
`--EOF -> <EOF> [0:52]
      ]]></source>
    </p>

    <p>More examples:</p>

    <table style="table-layout: fixed;">
      <tr>
        <td>
          1) Unclosed paragraph HTML tag. As you see in the tree, content of the paragraph tag is not nested to this tag.
          That is because HTML tags are not closed by pair tag &lt;/p&gt;, and Checkstyle requires <a href="#Tight-HTML_rules">Tight-HTML</a> code to predictably parse Javadoc comments.
        </td>
        <td>
          2) Here is correct version with open and closed HTML tags.
        </td>
      </tr>

      <tr>
        <td>
          <source><![CDATA[
<p> First
<p> Second
          ]]></source>
        </td>
        <td>
          <source><![CDATA[
<p> First </p>
<p> Second </p>
          ]]></source>
        </td>
      </tr>

      <tr>
        <td>
          <source><![CDATA[
JAVADOC -> <p> First\r\n<p> Second<EOF> [0:0]
|--HTML_ELEMENT -> <p> [0:0]
|   `--P_TAG_OPEN -> <p> [0:0]
|       |--OPEN -> < [0:0]
|       |--P_HTML_TAG_NAME -> p [0:1]
|       `--CLOSE -> > [0:2]
|--TEXT ->  First [0:3]
|   |--WS ->   [0:3]
|   |--CHAR -> F [0:4]
|   |--CHAR -> i [0:5]
|   |--CHAR -> r [0:6]
|   |--CHAR -> s [0:7]
|   `--CHAR -> t [0:8]
|--NEWLINE -> \r\n [0:9]
|--HTML_ELEMENT -> <p> [1:0]
|   `--P_TAG_OPEN -> <p> [1:0]
|       |--OPEN -> < [1:0]
|       |--P_HTML_TAG_NAME -> p [1:1]
|       `--CLOSE -> > [1:2]
|--TEXT ->  Second [1:3]
|   |--WS ->   [1:3]
|   |--CHAR -> S [1:4]
|   |--CHAR -> e [1:5]
|   |--CHAR -> c [1:6]
|   |--CHAR -> o [1:7]
|   |--CHAR -> n [1:8]
|   `--CHAR -> d [1:9]
`--EOF -> <EOF> [1:10]
          ]]></source>
        </td>
        <td>
          <source><![CDATA[
JAVADOC -> <p> First </p>\r\n<p> Second </p><EOF> [0:0]
|--HTML_ELEMENT -> <p> First </p> [0:0]
|   `--PARAGRAPH -> <p> First </p> [0:0]
|       |--P_TAG_OPEN -> <p> [0:0]
|       |   |--OPEN -> < [0:0]
|       |   |--P_HTML_TAG_NAME -> p [0:1]
|       |   `--CLOSE -> > [0:2]
|       |--TEXT ->  First  [0:3]
|       |   |--WS ->   [0:3]
|       |   |--CHAR -> F [0:4]
|       |   |--CHAR -> i [0:5]
|       |   |--CHAR -> r [0:6]
|       |   |--CHAR -> s [0:7]
|       |   |--CHAR -> t [0:8]
|       |   `--WS ->   [0:9]
|       `--P_TAG_CLOSE -> </p> [0:10]
|           |--OPEN -> < [0:10]
|           |--SLASH -> / [0:11]
|           |--P_HTML_TAG_NAME -> p [0:12]
|           `--CLOSE -> > [0:13]
|--NEWLINE -> \r\n [0:14]
|--HTML_ELEMENT -> <p> Second </p> [1:0]
|   `--PARAGRAPH -> <p> Second </p> [1:0]
|       |--P_TAG_OPEN -> <p> [1:0]
|       |   |--OPEN -> < [1:0]
|       |   |--P_HTML_TAG_NAME -> p [1:1]
|       |   `--CLOSE -> > [1:2]
|       |--TEXT ->  Second  [1:3]
|       |   |--WS ->   [1:3]
|       |   |--CHAR -> S [1:4]
|       |   |--CHAR -> e [1:5]
|       |   |--CHAR -> c [1:6]
|       |   |--CHAR -> o [1:7]
|       |   |--CHAR -> n [1:8]
|       |   |--CHAR -> d [1:9]
|       |   `--WS ->   [1:10]
|       `--P_TAG_CLOSE -> </p> [1:11]
|           |--OPEN -> < [1:11]
|           |--SLASH -> / [1:12]
|           |--P_HTML_TAG_NAME -> p [1:13]
|           `--CLOSE -> > [1:14]
`--EOF -> <EOF> [1:15]
          ]]></source>
        </td>
      </tr>
    </table>
    </section>

    <section name="Boolean flag indicating the presence of unclosed HTML tags">
      Not implemented yet, will be named "hasUnclosedTag". See <a href="https://github.com/checkstyle/checkstyle/issues/3311">Github Issue #3311</a>.
      For expected behavior please read <a href="#Javadoc_parser_behavior_for_current_HTML_version_and_new_HTML_version">Javadoc parser behavior</a> section.
    </section>

    <section name="Checkstyle SDK GUI">
      Not implemented yet. See <a href="https://github.com/checkstyle/checkstyle/issues/408">Github Issue #408</a>.
    </section>

    <section name="Customize token types in Javadoc Checks">
      Not implemented yet. See <a href="https://github.com/checkstyle/checkstyle/issues/2427">Github Issue #2427</a>.
    </section>

    <section name="Integrating new Javadoc Check">
      Javadoc Checks as well as regular Checks extend <a href="apidocs/com/puppycrawl/tools/checkstyle/checks/javadoc/AbstractJavadocCheck.html">AbstractCheck</a> class. So integrating new Javadoc Check is similar to <a href="writingchecks.html#Integrate_your_Check">integrating other Checks</a>.
    </section>

    <section name="Declare check's external resource locations">
        See <a href="writingchecks.html#Declare_checks_external_resource_locations">Declare check's external resource locations</a>.
    </section>

    <section name="Examples of Javadoc Checks">
      The best source knowledge about how to write Javadoc Checks
      could be taken from
      <a href="https://github.com/search?q=path%3Asrc%2Fmain%2Fjava+repo%3Acheckstyle%2Fcheckstyle+%22extends+AbstractJavadocCheck%22">
        existing Checks</a>.
    </section>

    <section name="Javadoc parser behavior for current HTML version and new HTML version">
      This section shows how parser should/will behave during parsing of current HTML versoin and any new HTML version. Current version is HTML4, new version that need to be supported is HTML5.
      GeneralToken - mean that after parsing there will be general AstToken - HTML_TAG.
      SpecialToken - mean that after parsing there will be special AstToken - PARAGRAPH, .... .
      <p><b>Tags with optional(ommitable) end tag:</b></p>
      <table style="table-layout: fixed;">
        <tr>
          <th>Input</th>
          <th>Current standard (HTML4)</th>
          <th>Current standard with hasUnclosedTag flag</th>
          <th>After parser update for new standard (HTML5)</th>
          <th>After parser update for new standard with hasUnclosedTag flag</th>
        </tr>
        <tr>
          <td><![CDATA[<p>text</p>]]></td>
          <td><![CDATA[No errors, Nested tree, SpecialToken]]></td>
          <td><![CDATA[No errors, Nested tree, SpecialToken, hasUnclosedTag=false]]></td>
          <td><![CDATA[No errors, Nested tree, SpecialToken]]></td>
          <td><![CDATA[No errors, Nested tree, SpecialToken, hasUnclosedTag=false]]></td>
        </tr>
        <tr>
          <td><![CDATA[<p>text]]></td>
          <td><![CDATA[No errors, Non-nested tree, SpecialToken]]></td>
          <td><![CDATA[No errors, Non-nested tree, SpecialToken, hasUnclosedTag=true]]></td>
          <td><![CDATA[No errors, Non-nested tree, SpecialToken]]></td>
          <td><![CDATA[No errors, Non-nested tree, SpecialToken, hasUnclosedTag=true]]></td>
        </tr>
        <tr>
          <td>
            <![CDATA[<rb>text</rb>]]>
            <br/><i>New HTML5 tag with optional(ommitable) end tag</i>
          </td>
          <td><![CDATA[No errors, Nested tree, GeneralToken]]></td>
          <td><![CDATA[No errors, Nested tree, GeneralToken, hasUnclosedTag=false]]></td>
          <td><![CDATA[No errors, Nested tree, SpecialToken]]></td>
          <td><![CDATA[No errors, Nested tree, SpecialToken, hasUnclosedTag=false]]></td>
        </tr>
        <tr>
          <td>
            <![CDATA[<rb>text]]>
            <br/><i>New HTML5 tag with optional(ommitable) end tag</i>
          </td>
          <td><![CDATA[Parse error]]></td>
          <td><![CDATA[Parse error]]></td>
          <td><![CDATA[No errors, Non-nested tree, SpecialToken]]></td>
          <td><![CDATA[No errors, Non-nested tree, SpecialToken, hasUnclosedTag=true]]></td>
        </tr>
        <tr>
          <td>
            <![CDATA[<qwerty>text</qwerty>]]>
            <br/><i>Unknown HTML tag</i>
          </td>
          <td><![CDATA[No errors, Nested tree, GeneralToken]]></td>
          <td><![CDATA[No errors, Nested tree, GeneralToken, hasUnclosedTag=false]]></td>
          <td><![CDATA[No errors, Nested tree, GeneralToken]]></td>
          <td><![CDATA[No errors, Nested tree, GeneralToken, hasUnclosedTag=false]]></td>
        </tr>
        <tr>
          <td>
            <![CDATA[<qwerty>text]]>
            <br/><i>Unknown HTML tag</i>
          </td>
          <td><![CDATA[Parse error]]></td>
          <td><![CDATA[Parse error]]></td>
          <td><![CDATA[Parse error]]></td>
          <td><![CDATA[Parse error]]></td>
        </tr>
      </table>
      <br/>
      <p><b>Void tags:</b></p>
      Note: "Nested"/"Non-Nested" is not applicable for this type of tags - all of them are looks like Non-Nested. Flas "hasUnclosedTag" is "false" for all cases.
      <table style="table-layout: fixed;">
        <tr>
          <th>Input</th>
          <th>Current standard (HTML4)</th>
          <th>After parser update for new standard (HTML5)</th>
        </tr>
        <tr>
          <td><![CDATA[<br/>]]></td>
          <td>No errors, SpecialToken</td>
          <td>No errors, SpecialToken</td>
        </tr>
        <tr>
          <td><![CDATA[<br>]]></td>
          <td>No errors, SpecialToken</td>
          <td>No errors, SpecialToken</td>
        </tr>
        <tr>
          <td>
            <![CDATA[<embed/>]]>
            <br/><i>New HTML5 tag</i>
          </td>
          <td>No errors, GeneralToken</td>
          <td>No errors, SpecialToken</td>
        </tr>
        <tr>
          <td>
            <![CDATA[<embed>]]>
            <br/><i>New HTML5 tag</i>
          </td>
          <td>Parse Error</td>
          <td>No errors, SpecialToken</td>
        </tr>
        <tr>
          <td>
            <![CDATA[<basefont/>]]>
            <br/><i>Supported in HTML4. Not supported tag in HTML5</i>
          </td>
          <td>No errors, SpecialToken</td>
          <td>No errors, SpecialToken</td>
        </tr>
        <tr>
          <td>
            <![CDATA[<basefont>]]>
            <br/><i>Supported in HTML4. Not supported tag in HTML5</i>
          </td>
          <td>No errors, SpecialToken</td>
          <td>No errors, SpecialToken</td>
        </tr>
        <tr>
          <td>
            <![CDATA[<qwerty/>]]>
            <br/><i>Unknown HTML tag</i>
          </td>
          <td>No errors, GeneralToken</td>
          <td>No errors, GeneralToken</td>
          </tr>
        <tr>
          <td>
            <![CDATA[<qwerty>]]>
            <br/><i>Unknown HTML tag</i>
          </td>
          <td>Parse Error</td>
          <td>Parse Error</td>
        </tr>
      </table>
    </section>

  </body>
</document>
