[*]
charset = utf-8
end_of_line = lf
ij_continuation_indent_size = 8
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100

[*.xml]
indent_size = 2

[*.java]
# https://youtrack.jetbrains.com/issue/IDEA-368382/Auto-import-puts-java-imports-first-even-when-Editor-Code-style-Java-Import-layout-puts-them-last
# https://github.com/jhipster/prettier-java/issues/513
ij_java_imports_layout = $*, |, java.**, |, javax.**, |, org.**, |, net.**, |, com.**, |, *
ij_java_else_on_new_line = true
# https://stackoverflow.com/questions/3348816/intellij-never-use-wildcard-imports
ij_java_names_count_to_use_import_on_demand = 999
ij_java_class_count_to_use_import_on_demand = 999
