# Eclipse project files
.settings
.externalToolBuilders
.classpath
.project

# m2e-code-quality Eclipse IDE plugin temporary configuration files for Eclipse CS Checkstyle / PMD / SpotBugs Plug-Ins
.checkstyle
.pmd
.pmdruleset.xml
.fbExcludeFilterFile

# NetBeans project files
nbactions.xml
nb-configuration.xml

# Maven build folder
target
bin

# IDEA project files
checkstyle.iml
checkstyle.ipr
checkstyle.iws
.idea

# Vscode project files
.vscode

# Temp files
*~

# Java Virtual machine crash logs
hs_err_pid*
replay_pid*

# Apple MAC OSX hidden file
.DS_Store

# NonDex files
.nondex

# temp folder for files/folders of ci validations
.ci-temp

# Maven Wrapper JAR (optional, not needed with only-script setup)
.mvn/wrapper/maven-wrapper.jar

# antlr4 grammar generates these
**/gen
**/JavaLanguageLexer.tokens
