#Eclipse project files
.classpath
.project
.settings

#Netbeans project files
nbactions.xml
nb-configuration.xml

#Maven build folder
target
bin

#Idea project files
checkstyle.iml
.idea

#Temp files
*~
