#Eclipse project files
#.classpath till https://issues.apache.org/jira/browse/MECLIPSE-735
#.project till https://issues.apache.org/jira/browse/MECLIPSE-735
.settings
.externalToolBuilders
.classpath
.project

# Eclipse-CS Checkstyle Plug-In IDE configuration files
.checkstyle
 
#NetBeans project files
nbactions.xml
nb-configuration.xml

#Maven build folder
target
bin

#Idea project files
checkstyle.iml
.idea

#Temp files
*~

#Virtual machine crash logs
hs_err_pid*
replay_pid*
