language: java
sudo: false

cache:
  apt: true
  directories:
    - ~/.m2

addons:
  apt:
    packages:
      - xsltproc
      - xmlstarlet

branches:
  only:
    - master

install:
  -

matrix:
  fast_finish: true
  include:
    # unit tests (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="tests and deploy"
        - CMD="mvn clean integration-test failsafe:verify"
        - COVERAGE_CMD=""
        - DEPLOY="true"

    # checkstyle (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="checkstyle and sevntu-checkstyle"
        - CMD="mvn clean verify -DskipTests -DskipITs -Dpmd.skip=true -Dfindbugs.skip=true -Dcobertura.skip=true"
        - COVERAGE_CMD=""

    # cobertura and codecov (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="cobertura and codecov"
        - CMD="mvn clean compile cobertura:check cobertura:cobertura"
        - COVERAGE_CMD="bash <(curl -s https://codecov.io/bash)"
    # findbugs and pmd (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="findbugs and pmd"
        - CMD="mvn clean compile pmd:check findbugs:check"
        - COVERAGE_CMD=""

    # NonDex (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="NonDex"
        - GOAL="nondex"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""

    # site (oraclejdk8 as 'site' success is required to be sure that on release time all will be ok, admins will use oracle8 version)
    # moved to https://codeship.com/projects/124310/configure_tests
    #- jdk: oraclejdk8
    #  env:
    #    - DESC="site"
    #    - CMD1="mvn clean site -Dlinkcheck.skip=true -DskipTests -DskipITs "
    #    - CMD2=" -Dpmd.skip=true -Dfindbugs.skip=true -Dcobertura.skip=true "
    #    - CMD3=" -Dcheckstyle.ant.skip=true -Dcheckstyle.skip=true"
    #    - CMD=$CMD1$CMD2$CMD3
    #    - COVERAGE_CMD=""

    # assembly (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="assembly & run '-all' jar"
        - GOAL="assembly-run-all-jar"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""
    # https://sonarqube.com (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="sonarqube.com"
        - GOAL="sonarqube"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""

    # NoErrorTest - Apache Apex (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="NoErrorTest - Apache Apex"
        - CMD1="mvn clean install -DskipTests -DskipITs -Dcobertura.skip=true"
        - CMD2="              -Dpmd.skip=true -Dfindbugs.skip=true "
        - CMD3="              -Dcheckstyle.ant.skip=true -Dcheckstyle.skip=true -Dxml.skip=true"
        - CMD4=" && CS_POM_VERSION=$(mvn -q -Dexec.executable='echo' -Dexec.args='${project.version}' --non-recursive org.codehaus.mojo:exec-maven-plugin:1.3.1:exec)"
        - CMD5=" && echo CS_version:\$CS_POM_VERSION"
        - CMD6=" && git clone https://github.com/apache/incubator-apex-core/ && cd incubator-apex-core"
        - CS_CMD=" && mvn compile checkstyle:check -Dcheckstyle.version=\$CS_POM_VERSION"
        - CMD=$CMD1$CMD2$CMD3$CMD4$CMD5$CMD6$CMD7$CS_CMD
        - COVERAGE_CMD=""

    # NoExceptiontest - Checkstyle, sevntu-checkstyle (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="NoExceptionTest - Checkstyle, sevntu-checkstyle"
        - GOAL="no-exception-test-checkstyle-sevntu-checkstyle"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""
    # NoExceptiontest - Guava (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="NoExceptionTest - Guava"
        - GOAL="no-exception-test-guava"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""
    # NoExceptiontest - Guava with google_checks (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="NoExceptionTest - Guava with google_checks"
        - GOAL="no-exception-test-guava-with-google-checks"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""
    # NoExceptionTest - Hibernate ORM (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="NoExceptionTest - Hibernate ORM"
        - GOAL="no-exception-test-hibernate"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""
    # NoExceptionTest - FindBugs (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="NoExceptionTest - FindBugs"
        - GOAL="no-exception-test-findbugs"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""
    # NoExceptionTest - Pmd,elasticsearch,lombok-ast (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="NoExceptionTest - Pmd,elasticsearch,lombok-ast"
        - GOAL="no-exception-test-Pmd-elasticsearch-lombok-ast"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""
    # NoExceptionTest - RxJava,java-design-patterns,MaterialDesignLibrary,apache-ant,apache-jsecurity,android-launcher (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="NoExceptionTest - RxJava,java-design-patterns,MaterialDesignLibrary,apache-ant,apache-jsecurity,android-launcher"
        - GOAL="no-exception-test-alot-of-project1"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""
    # NoExceptionTest - Spring (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="NoExceptionTest - Spring"
        - GOAL="no-exception-test-spring-framework"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""
    # NoExceptionTest - Hbase (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="NoExceptionTest - Hbase"
        - GOAL="no-exception-test-hbase"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""

    # release dry run (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="release dry run"
        - GOAL="release-dry-run"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""

    # unit tests in German locale (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="tests de"
        - CMD="mvn clean integration-test failsafe:verify -DargLine='-Duser.language=de -Duser.country=DE'"
        - COVERAGE_CMD=""
    # unit tests in Spanish locale (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="tests es"
        - CMD="mvn clean integration-test failsafe:verify -DargLine='-Duser.language=es -Duser.country=ES'"
        - COVERAGE_CMD=""
    # unit tests in Finnish locale (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="tests fi"
        - CMD="mvn clean integration-test failsafe:verify -DargLine='-Duser.language=fi -Duser.country=FI'"
        - COVERAGE_CMD=""
    # unit tests in French locale (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="tests fr"
        - CMD="mvn clean integration-test failsafe:verify -DargLine='-Duser.language=fr -Duser.country=FR'"
        - COVERAGE_CMD=""
    # unit tests in Chinese locale (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="tests zh"
        - CMD="mvn clean integration-test failsafe:verify -DargLine='-Duser.language=zh -Duser.country=CN'"
        - COVERAGE_CMD=""
    # unit tests in Japanese locale (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="tests ja"
        - CMD="mvn clean integration-test failsafe:verify -DargLine='-Duser.language=ja -Duser.country=JP'"
        - COVERAGE_CMD=""
    # unit tests in Portuguese locale (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="tests pt"
        - CMD="mvn clean integration-test failsafe:verify -DargLine='-Duser.language=pt -Duser.country=PT'"
        - COVERAGE_CMD=""
    # unit tests in Turkish locale (oraclejdk8)
    - jdk: oraclejdk8
      env:
        - DESC="tests tr"
        - CMD="mvn clean integration-test failsafe:verify -DargLine='-Duser.language=tr -Duser.country=TR'"
        - COVERAGE_CMD=""

    # MacOS verify (till cache is not working, we can not do verify)
    - os: osx
      env:
        - DESC="MacOS verify, site, assembly"
        - CMD="export JAVA_HOME=$(/usr/libexec/java_home) && mvn package -Dlinkcheck.skip=true && mvn package -Passembly "
        - COVERAGE_CMD=""

    # Releasenotes generation - validaton
    - jdk: oraclejdk8
      env:
        - DESC="Releasenotes generation"
        - GOAL="releasenotes-gen"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""

    # testing of PR format
    - env:
        - DESC="test Issue ref in PR description"
        - GOAL="pr-description"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""

    # Check the chmod on files.
    - env:
        - DESC="check permissions on all files"
        - GOAL="check-chmod"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""

    # Ensure that all Sevntu check are kused
    - jdk: oraclejdk8
      env:
        - DESC="All sevntu checks should be used"
        - GOAL="all-sevntu-checks"
        - CMD="./.ci/travis/travis.sh"
        - COVERAGE_CMD=""

script: eval $CMD

after_success:
  - eval $COVERAGE_CMD
  - >-
    if [[ $TRAVIS_REPO_SLUG == 'checkstyle/checkstyle'
            && $TRAVIS_BRANCH == 'master'
            && $TRAVIS_PULL_REQUEST == 'false'
            && $DEPLOY == 'true'
       ]];
    then
        mvn -s config/deploy-settings.xml -Pno-validations deploy;
    fi
