language: java
sudo: false

install:
  - 

matrix:
  fast_finish: true
  include:
    # unit tests (openjdk7, oraclejdk7 and oraclejdk8)
    - jdk: openjdk7
      env: DESC="unit tests on openjdk7" MAIN_ARGS="test" COVERALLS_ARGS=""
    - jdk: oraclejdk7
      env: DESC="unit tests on oraclejdk7" MAIN_ARGS="test" COVERALLS_ARGS=""
    - jdk: oraclejdk8
      env: DESC="unit tests on oraclejdk8" MAIN_ARGS="test" COVERALLS_ARGS=""
    # checkstyle (openjdk7, oraclejdk7 and oraclejdk8)
    - jdk: openjdk7
      env: DESC="checkstyle on openjdk7" MAIN_ARGS="verify -DskipTests -Dpmd.skip=true -Dfindbugs.skip=true -Dcobertura.skip=true" COVERALLS_ARGS=""
    - jdk: oraclejdk7
      env: DESC="checkstyle on oraclejdk7" MAIN_ARGS="verify -DskipTests -Dpmd.skip=true -Dfindbugs.skip=true -Dcobertura.skip=true" COVERALLS_ARGS=""
    - jdk: oraclejdk8
      env: DESC="checkstyle on oraclejdk8" MAIN_ARGS="verify -DskipTests -Dpmd.skip=true -Dfindbugs.skip=true -Dcobertura.skip=true" COVERALLS_ARGS=""
    # cobertura and coveralls (oraclejdk8)
    - jdk: oraclejdk8
      env: DESC="cobertura and coveralls" MAIN_ARGS="verify -Dpmd.skip=true -Dfindbugs.skip=true -Dcheckstyle.ant.skip=true" COVERALLS_ARGS="mvn clean cobertura:cobertura coveralls:report"
    # findbugs and pmd (oraclejdk8)
    - jdk: oraclejdk8
      env: DESC="findbugs and pmd" MAIN_ARGS="compile pmd:check findbugs:check" COVERALLS_ARGS=""
    # site (oraclejdk8 as 'site' success is required to be sure that on release time all will be ok, admins will use oracle8 version)
    - jdk: oraclejdk8
      env: DESC="site on oraclejdk8" MAIN_ARGS="site -Dlinkcheck.skip=true -Dmaven.javadoc.skip=true -DskipTests -Dpmd.skip=true -Dfindbugs.skip=true -Dcobertura.skip=true -Dcheckstyle.ant.skip=true" COVERALLS_ARGS=""

script: mvn clean $MAIN_ARGS

after_success:
  - $COVERALLS_ARGS

cache:
  directories:
  - ~/.m2

branches:
  only:
    - master
