<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/checkstyle-v5/src/checkstyle/com/puppycrawl/tools/checkstyle/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.puppycrawl.tools.checkstyle.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-c ${project_loc}/checkstyle_checks.xml -r ${project_loc}/src/checkstyle"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="checkstyle-v5"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcheckstyle.suppressions.file=${project_loc}/suppressions.xml&#13;&#10;-Dtranslation.severity=ignore&#13;&#10;-Dcheckstyle.header.file=${project_loc}/java.header&#13;&#10;-Dcheckstyle.importcontrol.file=${project_loc}/import-control.xml"/>
</launchConfiguration>
