        {
          "level": "${severityLevel}",
          "locations": [
            {
              "physicalLocation": {
                "artifactLocation": {
                  "uri": "${uri}"
                }
              }
            }
          ],
          "message": {
            "text": "${message}"
          }
        }
