            {
              "id": "${ruleId}",
              "messageStrings": {
${messageStrings}
              },
              "shortDescription": {
                "text": "${shortDescription}"
              },
              "fullDescription": {
                "text": "${fullDescription}"
              }
            }
