version: 2
jobs:
  build-cache:
    machine: true
    java:
      version: oraclejdk8
    steps:
      - checkout
      - run:
          command: |
            cd ../
            pwd
            ls -la
            java -version
            mvn --version
            git clone https://github.com/checkstyle/contribution
            if [ ! -d groovy-2.4.7 ]; then
              wget https://dl.bintray.com/groovy/maven/apache-groovy-binary-2.4.7.zip
              unzip apache-groovy-binary-2.4.7.zip;
            fi
            ls -la
      - run:
          command: |
            pwd
            ls -la
            cd contribution/checkstyle-tester
            sed -i'' 's/^guava/#guava/' projects-to-test-on.properties
            echo 'class ClassEmpty{}' > src/main/java/EmptyClass.java
            /home/circleci/groovy-2.4.7/bin/groovy launch.groovy --listOfProjects projects-to-test-on.properties --config my_check.xml
      - save_cache:
          key: goovy-binaries-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - /home/circleci/groovy-2.4.7
            - /home/circleci/.m2/repository
            - /home/circleci/project
  test1:
    machine: true
    java:
      version: oraclejdk8
    steps:
      - restore_cache:
          key: goovy-binaries-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          command: |
            pwd
            ls -la
            cd contribution/checkstyle-tester
            sed -i'' 's/#protonpack/protonpack/' projects-for-circle.properties
            groovy-2.4.7/bin/groovy launch.groovy --listOfProjects projects-for-circle.properties --config checks-nonjavadoc-error.xml
  test2:
    machine: true
    java:
      version: oraclejdk8
    steps:
      - restore_cache:
          key: goovy-binaries-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          command: |
            cd contribution/checkstyle-tester

workflows:
  version: 2
  build-test-regression:
    jobs:
      - build-cache
      - test1:
          requires:
            - build-cache
      - test2:
          requires:
            - build-cache

