version: 2.1

commands:
  run-script:
    parameters:
      script-name:
        description: "name of script"
        type: string
        default: ""
      args:
        description: "arguments to script"
        type: string
        default: ""
    steps:
      - checkout
      - restore_cache:
          name: Restore Maven repo cache
          keys:
            - mvn-cache-{{ checksum "pom.xml" }}
      - run:
          command: << parameters.script-name >> << parameters.args >>
      - run:
          command: ./.ci/validation.sh git-diff
      - save_cache:
          name: Save Maven repo cache
          key: mvn-cache-{{ checksum "pom.xml" }}
          paths:
            - .m2

jobs:

  run-inspections:
    docker:
      - image: checkstyle/idea-docker:jdk11-idea2022.2.2

    steps:
      - checkout
      - run:
          name: Print versions
          command: |
            echo "Maven version:"
            mvn --version
            echo "Java version:"
            java --version
            echo "IDEA version:"
            echo $IDEA_VERSION
      - run:
          name: Run inspections
          command: |
            mkdir .idea
            cp config/intellij-idea-inspections-misc.xml .idea/misc.xml
            ./.ci/idea_inspection.sh
          no_output_timeout: 25m
          working_directory: ~/project
      - store_artifacts:
          path: /home/circleci/project/target/inspection-results

  no-merge-commits:
    docker:
      - image: cimg/base:2022.10
    steps:
      - checkout
      - run:
          name: Check for merge commits
          command: |
            export PR_HEAD_SHA=$CIRCLE_SHA1
            ./.ci/validation.sh git-no-merge-commits

  check-pull-number:
    docker:
      - image: cimg/base:2022.10
    steps:
      - checkout
      - run:
          name: Check that 'Pull#XXXX' matches PR number
          command: |
            export PR_HEAD_SHA=$CIRCLE_SHA1
            export PR_NUMBER=$CIRCLE_PR_NUMBER
            ./.ci/validation.sh git-check-pull-number

  validation:
    docker:
      - image: &default-image checkstyle/jdk-11-groovy-git-mvn:11.0.13__3.0.9__2.25.1__3.6.3
    parameters:
      args:
        type: string
        default: ""
        description: "argument to provide to validation.sh"
    steps:
      - run-script:
          script-name: "./.ci/validation.sh"
          args: << parameters.args >>

  no-exception:
    docker:
      - image: *default-image
    parameters:
      args:
        type: string
        default: ""
        description: "argument to provide to no-exception-test.sh"
    steps:
      - run-script:
          script-name: "./.ci/no-exception-test.sh"
          args: << parameters.args >>

  no-error-hibernate-search:
    docker:
      - image: cimg/openjdk:18.0.1
    steps:
      - run-script:
          script-name: "./.ci/validation.sh"
          args: "no-error-hibernate-search"

workflows:
  test:
    jobs:
      - no-error-hibernate-search
      - no-exception:
          matrix:
            parameters:
              args: [
                "no-exception-lucene-and-others-javadoc",
                "no-exception-cassandra-storm-tapestry-javadoc",
                "no-exception-hadoop-apache-groovy-scouter-javadoc",
                "no-exception-only-javadoc",
              ]
      - validation:
          matrix:
            parameters:
              args: [
                "no-error-xwiki",
                "no-error-pmd",
                "no-exception-struts",
                "no-exception-checkstyle-sevntu",
                "no-exception-checkstyle-sevntu-javadoc",
                "no-exception-guava",
                "no-exception-hibernate-orm",
                "no-exception-spotbugs",
                "no-exception-spoon",
                "no-exception-spring-framework",
                "no-exception-hbase",
                "no-exception-Pmd-elasticsearch-lombok-ast",
                "no-exception-alot-of-projects",
                "no-warning-imports-guava",
                "no-warning-imports-java-design-patterns",
                "sonarqube",
              ]

  idea:
    jobs:
      - run-inspections

  git-validation:
    jobs:
      - no-merge-commits
      - check-pull-number
