version: 2.1

jobs:

  validate-with-maven-script:
    description: "Runs a maven script using the job name as the argument."
    parameters: &script_parameters
      image-name:
        type: string
        default: "cimg/openjdk:21.0.6"
        description: "docker image to use"
      command:
        description: "command to run"
        type: string
        default: ""
    docker:
      - image: << parameters.image-name >>
    steps:
      - checkout
      - restore_cache:
          name: Restore Maven repo and wrapper cache
          keys:
            - mvn-cache-{{ checksum "pom.xml" }}
      - run:
          command: << parameters.command >>
      - run:
          command: |
            ./.ci/validation.sh git-diff
            ./.ci/validation.sh ci-temp-check
      - save_cache:
          name: Save Maven repo and wrapper cache
          key: mvn-cache-{{ checksum "pom.xml" }}
          paths:
            - .m2
            - .mvn/wrapper

workflows:
  #  sonarqube:
  #    jobs:
  #      - sonarqube:
  #          context:
  #            - sonarqube

  test:
    jobs:
      - validate-with-maven-script:
          name: "no-error-kafka"
          image-name: "cimg/openjdk:25.0"
          command: "./.ci/validation.sh no-error-kafka"
