version: 2
jobs:

  no-exception-lucene-and-others-javadoc:
    docker:
      - image: &default-image checkstyle/jdk-11-groovy-git-mvn:11.0.13__3.0.9__2.25.1__3.6.3
    steps:
      - checkout
      - run:
          command: |
            ./.ci/no-exception-test.sh no-exception-lucene-and-others-javadoc
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-cassandra-storm-tapestry-javadoc:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/no-exception-test.sh no-exception-cassandra-storm-tapestry-javadoc
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-hadoop-apache-groovy-scouter-javadoc:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/no-exception-test.sh no-exception-hadoop-apache-groovy-scouter-javadoc
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-only-javadoc:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/no-exception-test.sh no-exception-only-javadoc
      - run:
          command: ./.ci/validation.sh git-diff
  no-error-xwiki:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-error-xwiki
      - run:
          command: ./.ci/validation.sh git-diff
  no-error-pmd:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-error-pmd
      - run:
          command: ./.ci/validation.sh git-diff
  no-error-hibernate-search:
    docker:
      - image: cimg/openjdk:18.0.1
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-error-hibernate-search
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-struts:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-exception-struts
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-checkstyle-sevntu:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-exception-checkstyle-sevntu
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-checkstyle-sevntu-javadoc:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-exception-checkstyle-sevntu-javadoc
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-guava:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-exception-guava
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-hibernate-orm:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-exception-hibernate-orm
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-spotbugs:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-exception-spotbugs
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-spoon:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-exception-spoon
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-spring-framework:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-exception-spring-framework
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-hbase:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-exception-hbase
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-Pmd-elasticsearch-lombok-ast:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-exception-Pmd-elasticsearch-lombok-ast
      - run:
          command: ./.ci/validation.sh git-diff
  no-exception-alot-of-projects:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-exception-alot-of-projects
      - run:
          command: ./.ci/validation.sh git-diff
  no-warning-imports-guava:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-warning-imports-guava
      - run:
          command: ./.ci/validation.sh git-diff
  no-warning-imports-java-design-patterns:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh no-warning-imports-java-design-patterns
      - run:
          command: ./.ci/validation.sh git-diff
  sonarqube:
    docker:
      - image: *default-image
    steps:
      - checkout
      - run:
          command: |
            ./.ci/validation.sh sonarqube
      - run:
          command: ./.ci/validation.sh git-diff

  run-inspections:
    docker:
      - image: checkstyle/idea-docker:jdk11-idea2022.2.2

    steps:
      - checkout
      - run:
          name: Run inspections
          command: |
            mkdir .idea
            cp config/intellij-idea-inspections-misc.xml .idea/misc.xml
            ./.ci/idea_inspection.sh
          no_output_timeout: 25m
          working_directory: ~/project

      - store_artifacts:
          path: /home/circleci/project/target/inspection-results

workflows:
  version: 2
  no-exception-tests:
    jobs:
      - no-exception-lucene-and-others-javadoc
      - no-exception-cassandra-storm-tapestry-javadoc
      - no-exception-hadoop-apache-groovy-scouter-javadoc
      - no-exception-only-javadoc
      - no-error-xwiki
      - no-error-pmd
      - no-error-hibernate-search
      - no-exception-struts
      - no-exception-checkstyle-sevntu
      - no-exception-checkstyle-sevntu-javadoc
      - no-exception-guava
      - no-exception-hibernate-orm
      - no-exception-spotbugs
      - no-exception-spoon
      - no-exception-spring-framework
      - no-exception-hbase
      - no-exception-Pmd-elasticsearch-lombok-ast
      - no-exception-alot-of-projects
      - no-warning-imports-guava
      - no-warning-imports-java-design-patterns
      - sonarqube

  idea:
    jobs:
      - run-inspections
