version: 2
jobs:

  build-caches:
    environment:
      GROOVY_PATH: "/home/circleci/groovy-2.4.7/"
    machine: true
    java:
      version: oraclejdk8
    steps:
      # restore_cache.keys does not work, so multiple restore_cache.key is used
      - restore_cache:
          key: m2-cache
      - restore_cache:
          key: groovy-2.4.7

      - checkout
      - run:
          name: skip_ci creation
          command: |
            mkdir -p .ci-temp
            echo -n ".github|appveyor.yml|.travis.yml|\.ci/" >> .ci-temp/skip_ci_files
            echo -n "|distelli-manifest.yml|fast-forward-merge.sh" >> .ci-temp/skip_ci_files
            echo -n "|LICENSE|LICENSE.apache20|README.md|release.sh" >> .ci-temp/skip_ci_files
            echo -n "|RIGHTS.antlr|shippable.yml" >> .ci-temp/skip_ci_files
            echo -n "|shippable.sh|wercker.yml|wercker.sh" >> .ci-temp/skip_ci_files
            echo -n "|intellij-idea-inspections.xml" >> .ci-temp/skip_ci_files
            echo -n "|org.eclipse.jdt.core.prefs" >> .ci-temp/skip_ci_files
      - run:
          name: download all maven dependencies and groovy
          command: |
            if [ $(git diff --name-only HEAD HEAD~1 \
                   | grep -vE $(cat .ci-temp/skip_ci_files) | wc -c) -gt 0 ] ; then
              # build checkstyle, clone contribution, download groovy
              pwd
              ls -la
              java -version
              mvn --version
              mvn -e install -Pno-validations
              cd ../
              git clone https://github.com/checkstyle/contribution
              if [ ! -d groovy-2.4.7 ]; then
                wget https://dl.bintray.com/groovy/maven/apache-groovy-binary-2.4.7.zip
                unzip apache-groovy-binary-2.4.7.zip;
              fi
              # load custom PATH
              export PATH=$GROOVY_PATH/bin:$PATH
              #
              ls -la
              # maven cache for checkstyle-tester
              cd contribution/checkstyle-tester
              sed -i'' 's/^guava/#guava/' projects-for-circle.properties
              sed -i'' 's/#checkstyle-sonar/checkstyle-sonar/' projects-for-circle.properties
              groovy launch.groovy \
                  --listOfProjects projects-for-circle.properties --config my_check.xml
            fi
      - save_cache:
          key: groovy-2.4.7
          paths:
            - /home/circleci/groovy-2.4.7
      - save_cache:
          # Save by timestamp , but will be restored by prefix without timestamp (most recent)
          #https://discuss.circleci.com/t/add-mechanism-to-update-existing-cache-key/9014/13
          key: m2-cache-epoch-{{ epoch }}
          paths:
            - /home/circleci/.m2/repository
      - save_cache:
          key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - /home/circleci/project
            - /home/circleci/contribution

  # test-openjdk_7_8:
  #   machine: true
  #   java:
  #     version: oraclejdk8
  #   environment:
  #     GROOVY_PATH: "/home/circleci/groovy-2.4.7/"
  #   steps:
  #     # restore_cache.keys does not work, so multiple restore_cache.key is used
  #     - restore_cache:
  #         key: m2-cache
  #     - restore_cache:
  #         key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
  #     - restore_cache:
  #         key: groovy-2.4.7
  #     - run:
  #         command: |
  #           # load custom PATH
  #           export PATH=$GROOVY_PATH/bin:$PATH
  #           if [ $(git diff --name-only HEAD HEAD~1 \
  #                    | grep -vE $(cat .ci-temp/skip_ci_files) | wc -c) -gt 0 ] ; then
  #             ./.ci/circleci.sh no-exception-openjdk7-openjdk8
  #           fi

  # test-infinispan-protonpack-jOOL-lucene-solr-openjdk9:
  #   machine: true
  #   java:
  #     version: oraclejdk8
  #   environment:
  #     GROOVY_PATH: "/home/circleci/groovy-2.4.7/"
  #   steps:
  #     # restore_cache.keys does not work, so multiple restore_cache.key is used
  #     - restore_cache:
  #         key: m2-cache
  #     - restore_cache:
  #         key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
  #     - restore_cache:
  #         key: groovy-2.4.7
  #     - run:
  #         command: |
  #           # load custom PATH
  #           export PATH=$GROOVY_PATH/bin:$PATH
  #           if [ $(git diff --name-only HEAD HEAD~1 \
  #                     | grep -vE $(cat .ci-temp/skip_ci_files) | wc -c) -gt 0 ] ; then
  #             ./.ci/circleci.sh no-exception-openjdk9-lucene-and-others
  #           fi

  # test-tapestry5-storm-cassandra:
  #   machine: true
  #   java:
  #     version: oraclejdk8
  #   environment:
  #     GROOVY_PATH: "/home/circleci/groovy-2.4.7/"
  #   steps:
  #     # restore_cache.keys does not work, so multiple restore_cache.key is used
  #     - restore_cache:
  #         key: m2-cache
  #     - restore_cache:
  #         key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
  #     - restore_cache:
  #         key: groovy-2.4.7
  #     - run:
  #         command: |
  #           # load custom PATH
  #           export PATH=$GROOVY_PATH/bin:$PATH
  #           if [ $(git diff --name-only HEAD HEAD~1 \
  #                      | grep -vE $(cat .ci-temp/skip_ci_files) | wc -c) -gt 0 ] ; then
  #             ./.ci/circleci.sh no-exception-cassandra-storm-tapestry
  #           fi

  # test-apache-hadoop-scouter-groovy:
  #   machine: true
  #   java:
  #     version: oraclejdk8
  #   environment:
  #     GROOVY_PATH: "/home/circleci/groovy-2.4.7/"
  #   steps:
  #     # restore_cache.keys does not work, so multiple restore_cache.key is used
  #     - restore_cache:
  #         key: m2-cache
  #     - restore_cache:
  #         key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
  #     - restore_cache:
  #         key: groovy-2.4.7
  #     - run:
  #         command: |
  #           # load custom PATH
  #           export PATH=$GROOVY_PATH/bin:$PATH
  #           if [ $(git diff --name-only HEAD HEAD~1 \
  #                      | grep -vE $(cat .ci-temp/skip_ci_files) | wc -c) -gt 0 ] ; then
  #             ./.ci/circleci.sh no-exception-hadoop-apache-groovy-scouter
  #           fi

  test-pitest1:
    machine: true
    java:
      version: oraclejdk8
    parallelism: 4
    steps:
      # restore_cache.keys does not work, so multiple restore_cache.key is used
      - restore_cache:
          key: m2-cache
      - restore_cache:
          key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          command: |
             echo "pitest-xpath" >> profiles.txt
             echo "pitest-filters" >> profiles.txt
             echo "pitest-javadoc" >> profiles.txt
             echo "pitest-imports" >> profiles.txt
             echo "PITEST PROFILE:"$(circleci tests split profiles.txt)
             ./.ci/shippable.sh $(circleci tests split profiles.txt)

  test-pitest2:
    machine: true
    java:
      version: oraclejdk8
    parallelism: 4
    steps:
      # restore_cache.keys does not work, so multiple restore_cache.key is used
      - restore_cache:
          key: m2-cache
      - restore_cache:
          key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          command: |
             echo "pitest-metrics" >> profiles.txt
             echo "pitest-regexp" >> profiles.txt
             echo "pitest-sizes" >> profiles.txt
             echo "pitest-whitespace" >> profiles.txt
             echo "PITEST PROFILE:"$(circleci tests split profiles.txt)
             ./.ci/shippable.sh $(circleci tests split profiles.txt)

workflows:
  version: 2
  regression-testing:
    jobs:
      - build-caches
      # - test-openjdk_7_8:
      #     requires:
      #       - build-caches
      # - test-infinispan-protonpack-jOOL-lucene-solr-openjdk9:
      #     requires:
      #       - build-caches
      # - test-tapestry5-storm-cassandra:
      #     requires:
      #       - build-caches
      # - test-apache-hadoop-scouter-groovy:
      #     requires:
      #       - build-caches
      - test-pitest1:
          requires:
            - build-caches
      - test-pitest2:
          requires:
            - build-caches
