version: 2.1

jobs:

  run-inspections:
    docker:
      - image: checkstyle/idea-docker:jdk11-idea2022.3.3

    steps:
      - checkout
      - run:
          name: Print versions
          command: |
            echo "Maven version:"
            mvn --version
            echo "Java version:"
            java --version
            echo "IDEA version:"
            echo $IDEA_VERSION
      - run:
          name: Run inspections
          command: |
            mkdir .idea
            cp config/intellij-idea-inspections-misc.xml .idea/misc.xml
            ./.ci/idea-inspection.sh
          no_output_timeout: 25m
          working_directory: ~/project
      - store_artifacts:
          path: /home/circleci/project/target/inspection-results

  validate-with-maven-script:
    description: "Runs a maven script using the job name as the argument."
    parameters: &script_parameters
      image-name:
        type: string
        default: "cimg/openjdk:11.0.16"
        description: "docker image to use"
      command:
        description: "command to run"
        type: string
        default: ""
    docker:
      - image: << parameters.image-name >>
    steps:
      - checkout
      - restore_cache:
          name: Restore Maven repo cache
          keys:
            - mvn-cache-{{ checksum "pom.xml" }}
      - run:
          command: << parameters.command >>
      - run:
          command: |
            ./.ci/validation.sh git-diff
            ./.ci/validation.sh ci-temp-check
      - save_cache:
          name: Save Maven repo cache
          key: mvn-cache-{{ checksum "pom.xml" }}
          paths:
            - .m2

  validate-with-script:
    description: "Runs a non-maven script using the job name as the argument."
    parameters: *script_parameters
    docker:
      - image: << parameters.image-name >>
    steps:
      - checkout
      - run:
          name: run << parameters.command >>
          command: |
            sudo apt update
            sudo apt install -y xmlstarlet --no-install-recommends apt-utils
            export PULL_REQUEST=$CIRCLE_PR_NUMBER
            export PR_HEAD_SHA=$CIRCLE_SHA1
            export PR_NUMBER=$CIRCLE_PR_NUMBER
            << parameters.command >>
  sonarqube:
    docker:
      - image: checkstyle/jdk-11-groovy-git-mvn:11.0.20.1__2.4.21__2.42.0__3.9.5

    steps:
      - checkout
      - run:
          name: Run sonarqube
          command: |
            export PR_NUMBER=$CIRCLE_PR_NUMBER
            export PR_BRANCH_NAME=$CIRCLE_BRANCH
            export SONAR_API_TOKEN=$SONAR_TOKEN
            ./.ci/validation.sh sonarqube

  yamllint:
    docker:
      - image: cimg/base:2022.11

    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt update
            sudo apt install -y yamllint
      - run:
          name: Run yamllint
          command: yamllint -f parsable -c config/yamllint.yaml .

workflows:
  #  until https://github.com/checkstyle/checkstyle/issues/13209
  #  sonarqube:
  #    jobs:
  #      - sonarqube:
  #          context:
  #            - sonarqube

  test:
    jobs:
      # no-exception-test script
      - validate-with-maven-script:
          name: "no-exception-lucene-and-others-javadoc"
          image-name: &cs_img "checkstyle/jdk-11-groovy-git-mvn:11.0.20.1__2.4.21__2.42.0__3.9.5"
          command: "./.ci/no-exception-test.sh no-exception-lucene-and-others-javadoc"
      - validate-with-maven-script:
          name: "no-exception-cassandra-storm-tapestry-javadoc"
          image-name: *cs_img
          command: "./.ci/no-exception-test.sh no-exception-cassandra-storm-tapestry-javadoc"
      - validate-with-maven-script:
          name: "no-exception-hadoop-apache-groovy-scouter-javadoc"
          image-name: *cs_img
          command: "./.ci/no-exception-test.sh no-exception-hadoop-apache-groovy-scouter-javadoc"
      - validate-with-maven-script:
          name: "no-exception-only-javadoc"
          image-name: *cs_img
          command: "./.ci/no-exception-test.sh no-exception-only-javadoc"

      # validation script
      - validate-with-maven-script:
          name: "no-error-xwiki"
          image-name: "cimg/openjdk:18.0.1"
          command: "./.ci/validation.sh no-error-xwiki"
      - validate-with-maven-script:
          name: "no-error-pmd"
          image-name: *cs_img
          command: "./.ci/validation.sh no-error-pmd"
      - validate-with-maven-script:
          name: "no-exception-struts"
          image-name: *cs_img
          command: "./.ci/validation.sh no-exception-struts"
      - validate-with-maven-script:
          name: "no-exception-checkstyle-sevntu"
          image-name: *cs_img
          command: "./.ci/validation.sh no-exception-checkstyle-sevntu"
      - validate-with-maven-script:
          name: "no-exception-checkstyle-sevntu-javadoc"
          image-name: *cs_img
          command: "./.ci/validation.sh no-exception-checkstyle-sevntu-javadoc"
      - validate-with-maven-script:
          name: "no-exception-guava"
          image-name: *cs_img
          command: "./.ci/validation.sh no-exception-guava"
      - validate-with-maven-script:
          name: "no-exception-hibernate-orm"
          image-name: *cs_img
          command: "./.ci/validation.sh no-exception-hibernate-orm"
      - validate-with-maven-script:
          name: "no-exception-spotbugs"
          image-name: *cs_img
          command: "./.ci/validation.sh no-exception-spotbugs"
      - validate-with-maven-script:
          name: "no-exception-spoon"
          image-name: *cs_img
          command: "./.ci/validation.sh no-exception-spoon"
      - validate-with-maven-script:
          name: "no-exception-spring-framework"
          image-name: *cs_img
          command: "./.ci/validation.sh no-exception-spring-framework"
      - validate-with-maven-script:
          name: "no-exception-hbase"
          image-name: *cs_img
          command: "./.ci/validation.sh no-exception-hbase"
      - validate-with-maven-script:
          name: "no-exception-Pmd-elasticsearch-lombok-ast"
          image-name: *cs_img
          command: "./.ci/validation.sh no-exception-Pmd-elasticsearch-lombok-ast"
      - validate-with-maven-script:
          name: "no-exception-alot-of-projects"
          image-name: *cs_img
          command: "./.ci/validation.sh no-exception-alot-of-projects"
      - validate-with-maven-script:
          name: "no-warning-imports-guava"
          image-name: *cs_img
          command: "./.ci/validation.sh no-warning-imports-guava"
      - validate-with-maven-script:
          name: "no-warning-imports-java-design-patterns"
          image-name: *cs_img
          command: "./.ci/validation.sh no-warning-imports-java-design-patterns"
      - validate-with-maven-script:
          name: "checkstyle-and-sevntu"
          image-name: *cs_img
          command: "./.ci/validation.sh checkstyle-and-sevntu"
      # until https://github.com/spotbugs/spotbugs-maven-plugin/issues/806
      # - validate-with-maven-script:
      #    name: "spotbugs-and-pmd"
      #    image-name: *cs_img
      #    command: "./.ci/validation.sh spotbugs-and-pmd"
      - validate-with-maven-script:
          name: "site"
          image-name: *cs_img
          command: "./.ci/validation.sh site"
      - validate-with-maven-script:
          name: "release-dry-run"
          image-name: *cs_img
          command: "./.ci/validation.sh release-dry-run"
      - validate-with-maven-script:
          name: "assembly-run-all-jar"
          image-name: *cs_img
          command: "./.ci/validation.sh assembly-run-all-jar"
      - validate-with-maven-script:
          name: "no-error-test-sbe"
          image-name: "cimg/openjdk:17.0.1"
          command: "./.ci/validation.sh no-error-test-sbe"
      - validate-with-maven-script:
          name: "no-error-spotbugs"
          image-name: *cs_img
          command: "./.ci/validation.sh no-error-spotbugs"
      - validate-with-maven-script:
          name: "linkcheck-plugin"
          image-name: "cimg/openjdk:11.0.19"
          command: "./.ci/run-link-check-plugin.sh --skip-external"
      - validate-with-maven-script:
          name: "no-exception-samples-gradle"
          image-name: "cimg/openjdk:11.0.19"
          command: "./.ci/no-exception-test.sh no-exception-samples-gradle"
      - validate-with-maven-script:
          name: "no-exception-samples-maven"
          image-name: "cimg/openjdk:11.0.19"
          command: "./.ci/no-exception-test.sh no-exception-samples-maven"

      - validate-with-maven-script:
          name: "no-exception-samples-ant"
          image-name: "circleci/openjdk:11-jdk"
          command: "./.ci/no-exception-test.sh no-exception-samples-ant"

  idea:
    jobs:
      - run-inspections

  git-validation:
    jobs:
      - validate-with-script:
          name: "git-no-merge-commits"
          command: "./.ci/validation.sh git-no-merge-commits"
      - validate-with-script:
          name: "git-check-pull-number"
          command: "./.ci/validation.sh git-check-pull-number"

  cli-validation:
    jobs:
      - validate-with-script:
          name: "checkchmod"
          command: "./.ci/checkchmod.sh"
      - validate-with-script:
          name: "check-github-workflows-concurrency"
          command: "./.ci/validation.sh check-github-workflows-concurrency"
      - yamllint
      - validate-with-script:
          name: "check-wildcards-on-pitest-target-classes"
          image-name: "cimg/base:2022.11"
          command: "./.ci/validation.sh check-wildcards-on-pitest-target-classes"

  javac-validation:
    jobs:
      - validate-with-script:
          name: "check-since-version"
          command: "./.ci/validation.sh check-since-version"
      - validate-with-script:
          name: "javac11"
          command: "./.ci/validation.sh javac11"
      - validate-with-script:
          name: "javac17"
          image-name: "cimg/openjdk:17.0.5"
          command: "./.ci/validation.sh javac17"
      - validate-with-script:
          name: "javac19"
          image-name: "cimg/openjdk:19.0.1"
          command: "./.ci/validation.sh javac19"
      - validate-with-script:
          name: "javac20"
          image-name: "cimg/openjdk:20.0.1"
          command: "./.ci/validation.sh javac20"
      - validate-with-script:
          name: "javac21"
          image-name: "cimg/openjdk:21.0.0"
          command: "./.ci/validation.sh javac21"

  site-validation:
    jobs:
      - validate-with-maven-script:
          name: "jdk17-package-site"
          image-name: "cimg/openjdk:17.0.7"
          command: "./.ci/validation.sh package-site"
      - validate-with-maven-script:
          name: "jdk11-package-site"
          image-name: *cs_img
          command: "./.ci/validation.sh package-site"
