version: 2
jobs:

  build-caches:
    machine: true
    java:
      version: oraclejdk8
    steps:
      # restore_cache.keys does not work, so multiple restore_cache.key is used
      - restore_cache:
          key: m2-cache
      - checkout
      - run:
          name: skip_ci creation
          command: |
            mkdir -p .ci-temp
            echo -n ".github|appveyor.yml|.travis.yml|\.ci/" >> .ci-temp/skip_ci_files
            echo -n "|distelli-manifest.yml|fast-forward-merge.sh" >> .ci-temp/skip_ci_files
            echo -n "|LICENSE|LICENSE.apache20|README.md|release.sh" >> .ci-temp/skip_ci_files
            echo -n "|RIGHTS.antlr|shippable.yml|codeship" >> .ci-temp/skip_ci_files
            echo -n "|shippable.sh|wercker.yml|wercker.sh" >> .ci-temp/skip_ci_files
            echo -n "|intellij-idea-inspections.xml" >> .ci-temp/skip_ci_files
            echo -n "|org.eclipse.jdt.core.prefs" >> .ci-temp/skip_ci_files
      - run:
          name: download all maven dependencies and groovy
          command: |
            if [ $(git diff --name-only HEAD HEAD~1 \
                   | grep -vE $(cat .ci-temp/skip_ci_files) | wc -c) -gt 0 ] ; then
              pwd
              ls -la
              java -version
              mvn --version
              mvn -Ppitest-metrics dependency:go-offline
            fi
      - save_cache:
          # Save by timestamp , but will be restored by prefix without timestamp (most recent)
          #https://discuss.circleci.com/t/add-mechanism-to-update-existing-cache-key/9014/13
          key: m2-cache-epoch-{{ epoch }}
          paths:
            - /home/circleci/.m2/repository
      - save_cache:
          key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - /home/circleci/project
            - /home/circleci/contribution

  pitest1:
    machine: true
    java:
      version: oraclejdk8
    parallelism: 4
    steps:
      # restore_cache.keys does not work, so multiple restore_cache.key is used
      - restore_cache:
          key: m2-cache
      - restore_cache:
          key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          command: |
             echo "./.ci/pitest.sh pitest-coding"  >> commands.txt
             echo "./.ci/pitest.sh pitest-common"  >> commands.txt
             echo "./.ci/pitest.sh pitest-imports" >> commands.txt
             echo "./.ci/pitest.sh pitest-ant"     >> commands.txt
             CMD="$(circleci tests split commands.txt)"
             echo "Command: $CMD"
             eval $CMD

  pitest2:
    machine: true
    java:
      version: oraclejdk8
    parallelism: 4
    steps:
      # restore_cache.keys does not work, so multiple restore_cache.key is used
      - restore_cache:
          key: m2-cache
      - restore_cache:
          key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          command: |
             echo "./.ci/pitest.sh pitest-main"        >> commands.txt
             echo "./.ci/pitest.sh pitest-javadoc"     >> commands.txt
             echo "./.ci/pitest.sh pitest-indentation" >> commands.txt
             echo "./.ci/pitest.sh pitest-xpath"       >> commands.txt
             CMD="$(circleci tests split commands.txt)"
             echo "Command: $CMD"
             eval $CMD

  pitest3:
    machine: true
    java:
      version: oraclejdk8
    parallelism: 4
    steps:
      # restore_cache.keys does not work, so multiple restore_cache.key is used
      - restore_cache:
          key: m2-cache
      - restore_cache:
          key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          command: |
             echo "./.ci/pitest.sh pitest-misc"    >> commands.txt
             echo "./.ci/pitest.sh pitest-design"  >> commands.txt
             echo "./.ci/pitest.sh pitest-api"     >> commands.txt
             echo "./.ci/pitest.sh pitest-utils"   >> commands.txt
             CMD="$(circleci tests split commands.txt)"
             echo "Command: $CMD"
             eval $CMD

  pitest4:
    machine: true
    java:
      version: oraclejdk8
    parallelism: 4
    steps:
      # restore_cache.keys does not work, so multiple restore_cache.key is used
      - restore_cache:
          key: m2-cache
      - restore_cache:
          key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          command: |
             echo "./.ci/pitest.sh pitest-whitespace" >> commands.txt
             echo "./.ci/pitest.sh pitest-filters"    >> commands.txt
             echo "./.ci/pitest.sh pitest-header"     >> commands.txt
             echo "./.ci/pitest.sh pitest-annotation" >> commands.txt
             CMD="$(circleci tests split commands.txt)"
             echo "Command: $CMD"
             eval $CMD

  pitest5:
    machine: true
    java:
      version: oraclejdk8
    parallelism: 4
    steps:
      # restore_cache.keys does not work, so multiple restore_cache.key is used
      - restore_cache:
          key: m2-cache
      - restore_cache:
          key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          command: |
             echo "./.ci/pitest.sh pitest-packagenamesloader" >> commands.txt
             echo "./.ci/pitest.sh pitest-tree-walker"        >> commands.txt
             echo "./.ci/pitest.sh pitest-naming"             >> commands.txt
             echo "./.ci/pitest.sh pitest-metrics"            >> commands.txt
             CMD="$(circleci tests split commands.txt)"
             echo "Command: $CMD"
             eval $CMD

  pitest6:
    machine: true
    java:
      version: oraclejdk8
    parallelism: 4
    steps:
      # restore_cache.keys does not work, so multiple restore_cache.key is used
      - restore_cache:
          key: m2-cache
      - restore_cache:
          key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          command: |
             echo "./.ci/pitest.sh pitest-blocks"   >> commands.txt
             echo "./.ci/pitest.sh pitest-sizes"    >> commands.txt
             echo "./.ci/pitest.sh pitest-modifier" >> commands.txt
             echo "./.ci/pitest.sh pitest-regexp"   >> commands.txt
             CMD="$(circleci tests split commands.txt)"
             echo "Command: $CMD"
             eval $CMD

  pitest7:
    machine: true
    java:
      version: oraclejdk8
    parallelism: 4
    steps:
      # restore_cache.keys does not work, so multiple restore_cache.key is used
      - restore_cache:
          key: m2-cache
      - restore_cache:
          key: source-cache-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          command: |
             echo "./.ci/pitest.sh pitest-gui"   >> commands.txt
             CMD="$(circleci tests split commands.txt)"
             echo "Command: $CMD"
             eval $CMD

workflows:
  version: 2
  pitest-testing:
    jobs:
      - build-caches
      - pitest1:
          requires:
            - build-caches
      - pitest2:
          requires:
            - build-caches
      - pitest3:
          requires:
            - build-caches
      - pitest4:
          requires:
            - build-caches
      - pitest5:
          requires:
            - build-caches
      - pitest6:
          requires:
            - build-caches
      # we do not do thorough testing of gui part
      # - pitest7:
      #     requires:
      #       - build-caches
