# List of GIT repositories to clone / pull for checking with Checkstyle
# File format: REPO_NAME|[local|git|hg]|URL|[COMMIT_ID]|[EXCLUDE FOLDERS]
# Please note that bash comments works in this file

guava|git|https://github.com/google/guava|v28.2||

#infinispan|git|https://github.com/infinispan/infinispan|7.2.5.Final||
#protonpack|git|https://github.com/poetix/protonpack|protonpack-1.7||
#jOOL|git|https://github.com/jOOQ/jOOL|version-0.9.7||
#lucene-solr|git|https://github.com/apache/lucene-solr|releases/lucene-solr/5.4.0||

#tapestry-5|git|https://github.com/apache/tapestry-5|5.4.0|**/archetype-resources/**/*|
#storm|git|https://github.com/apache/storm|v0.9.6||
#cassandra|git|https://github.com/apache/cassandra|cassandra-3.2||

#apache-commons|git|https://github.com/apache/commons-lang|LANG_3_4||
#hadoop|git|https://github.com/apache/hadoop|release-2.6.3||
#scouter|git|https://github.com/scouter-project/scouter|v0.4.4||
#groovy|git|https://github.com/apache/groovy|GROOVY_2_4_5||
