<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 https://maven.apache.org/xsd/xdoc-2.0.xsd">
  <head>
    <title>PackageAnnotation</title>
  </head>
  <body>
    <section xmlns="http://maven.apache.org/XDOC/2.0"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="PackageAnnotation">
      <p>Since Checkstyle 5.0</p>
      <subsection name="Description" id="Description">
        <div>
          Checks that all package annotations are in the package-info.java file.
        </div>

        <p>
          For Java SE8 and above, placement of package annotations in the package-info.java
          file is enforced by the compiler and this check is not necessary.
        </p>

        <p>
          For Java SE7 and below, the Java Language Specification highly recommends
          but doesn't require that annotations are placed in the package-info.java file,
          and this check can help to enforce that placement.
        </p>

        <p>
          See <a href="https://docs.oracle.com/javase/specs/jls/se11/html/jls-7.html#jls-7.4.1">
          Java Language Specification, §7.4.1</a> for more info.
        </p>
      </subsection>

      <subsection name="Examples" id="Examples">
        <p id="Example1-config"> To configure the check:</p>
        <macro name="example">
          <param name="path"
                 value="resources-noncompilable/com/puppycrawl/tools/checkstyle/checks/annotation/packageannotation/Example1.java"/>
          <param name="type" value="config"/>
        </macro>
        <p id="Example1-code">Example of class with violation:</p>
        <macro name="example">
          <param name="path"
                 value="resources-noncompilable/com/puppycrawl/tools/checkstyle/checks/annotation/packageannotation/Example1.java"/>
          <param name="type" value="code"/>
        </macro><hr class="example-separator"/>
        <p id="Example2-code">Example of class without violation:</p>
        <macro name="example">
          <param name="path"
                 value="resources/com/puppycrawl/tools/checkstyle/checks/annotation/packageannotation/Example2.java"/>
          <param name="type" value="code"/>
        </macro><hr class="example-separator"/>
        <p id="package-info-code">Example of validating package-info.java:</p>
        <macro name="example">
          <param name="path"
                 value="resources/com/puppycrawl/tools/checkstyle/checks/annotation/packageannotation/example3/package-info.java"/>
          <param name="type" value="code"/>
        </macro>
      </subsection>

      <subsection name="Example of Usage" id="Example_of_Usage">
        <ul>
          <li>
            <a href="https://github.com/search?q=path%3Aconfig%20path%3A**%2Fcheckstyle-checks.xml+repo%3Acheckstyle%2Fcheckstyle+PackageAnnotation">
            Checkstyle Style</a>
          </li>
        </ul>
      </subsection>

      <subsection name="Violation Messages" id="Violation_Messages">
        <macro name="violation-messages">
          <param name="checkName" value="PackageAnnotation"/>
        </macro>
        <p>
          All messages can be customized if the default message doesn't suit you.
          Please <a href="../../config.html#Custom_messages">
          see the documentation</a> to learn how to.
        </p>
      </subsection>

      <subsection name="Package" id="Package">
        <p> com.puppycrawl.tools.checkstyle.checks.annotation </p>
      </subsection>

      <subsection name="Parent Module" id="Parent_Module">
        <macro name="parent-module">
          <param name="moduleName" value="PackageAnnotation"/>
        </macro>
      </subsection>
    </section>
  </body>
</document>
