/* Derived from Twiki */

/* Top bar */
.csTopBar {
	background-color:transparent;
}
.csTopBarContents {
	margin:0;
	padding:5px 2em 5px 1em;
}
.csTopBarContents p {
	display:inline;
}

.csBottomBar {
	margin:0 0 0 13.5em; /* add small margin for content offset */
}

/* Left bar */
.csLeftBar {
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	color:#800;
	overflow:hidden;
	line-height:1.5em;
	background-color:#FBFAF8;
}
.csLeftBar a:link,
.csLeftBar a:visited {
	text-decoration:none;
	padding-bottom:1px; /* to account for hover border */
	border-bottom:0px;
}
.csLeftBar a:hover,
.csLeftBar a:visited:hover,
.csLeftBar a:active {
	text-decoration:none;
	color:#0029A3; /*C3*/
	padding-bottom:0;
	border-bottom:1px solid #0054C0; /*C1*/
}

.csLeftBar .csWebIndicator a {
	height:2em;
}
.csLeftBar .csWebIndicator a:link,
.csLeftBar .csWebIndicator a:visited {
	color:black;
	text-decoration:none;
	border-bottom:0px;
}
.csLeftBar .csWebIndicator a:hover,
.csLeftBar .csWebIndicator a:active {
	color:black;
	text-decoration:underline;
	border-bottom:0px;
	padding-bottom:1px;
	background-color:transparent;
}
.csLeftBar .csLeftBarContents {
	font-size:95%;
	font-weight:normal;
	margin:0;
	padding:1em 0 1.7em 1em;
	width:auto;
	border-top:3px solid #666; /*C4*/
}
.csLeftBar ul {
	padding:0;
	margin:0;
}
.csLeftBar li {
	display:block;
	list-style:none;
	width:100%;
}
.csLeftBar li a {
	display:block;
	width:98%;
	padding-right:2%;
}

.csMain {
	padding:0 3.5em;
	background-color:#fff;
	border-width:1px;
	border-style:solid;
	border-color:#ddd #ddd #ddd #ddd;
}

/* General formatting */

/* HTML elements */
html body {
	line-height:1.4em; /*C10*/
	font-family:"Lucida Grande", verdana, lucida, helvetica, sans-serif;
	background-color:#F8F4F1; /*C7*/
	color:#000;
	margin:0;
	padding:0;
	font-size:x-small;
	voice-family:"\"}\""; 
	voice-family:inherit;
	font-size:small;
}
html>body {
	font-size:small;	
}

/* be kind to netscape 4 that doesn't understand inheritance */
body, p, li, ul, ol, dl, dt, dd, acronym, h1, h2, h3, h4, h5, h6 {
	background-color:transparent;
}
p {
	margin:1em 0 0 0;
}

:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active {
	text-decoration:none;
	color:#0054C0; /*C1*/;
	background-color:transparent;
}
:link:hover,
:visited:hover {
	text-decoration:underline;
	color:#0029A3; /*C3*/
	background-color:#b4d5ff; /*C2*/
}

/* Text */
h1, h2, h3, h4, h5, h6 {
	font-family:"Lucida Grande", helvetica, lucida, verdana, sans-serif;
	line-height:104%;
	padding:0;
	margin:1em 0 0.1em 0;
	text-transform: capitalize;
}
h1 {
	font-size:210%;
	color:#e24628;
	/* margin:0 0 0.5em 0; */
}
h2, h3, h4, h5, h6 {color:#900;} /*C5*/
h2 {
	font-size:145%;
	display:block;
	background-color:#F3EDE7; /*C8*/
	padding:0.2em 0.7em;
	margin:1em -0.7em 0.35em -0.7em;
	height:auto;
}
h3 { font-size:140%;}
h4 { font-size:125%;}
h5 { font-size:110%;}
h6 { font-size:95%;}

/* Original stuff */

/*
h1 {
  font-family : monospace;
  font-size : 28px;
  font-weight : bold;
  color : #aaaaaa;
  background-color: #ffffff;
  text-transform: capitalize;
}

h2 {
  text-transform: capitalize;
}
*/

h4.tip {
  text-transform: capitalize;
  text-align: center;
}

td {
  vertical-align:top;
}

tr.odd {
  background-color: #EEEEEE;
}

tr.even {
  background-color: #E5E5E5;
}

th {
  background-color: Silver;
  color:Black;
  font-weight: bolder;
  text-align: center;
}

td.navbarHeader {
  border-top:    1px solid #909090;
  background-color: #dddddd;
  color:Black;
  text-align: left;
  white-space: nowrap;
  padding-left : 0.5ex;
  padding-right: 0.5ex;
}


td.navbarItem {
  background-color: #eeeeee;
  color:Black;
  text-align: left;
  white-space: nowrap;
  padding-left : 1ex;
  padding-right: 1ex;
}

#navbar ul {
  padding-left: 0.4em;
}

#navbar li {
  list-style-type: none;
  font-size: smaller;
}

#navbar ul.sectionquicklink {
  padding-left: 1em;
}

td.content {
  width: 100%;
}

td#mainContents {
  padding-left : 1em;
  padding-right : 1em;
}

*.body {
  margin-left : 5%;
  margin-right : 3%;
}

img {
  border: none;
}

p.copyright {
  text-align: center;
}

span.code {
  white-space: nowrap;
  font-family: monospace;
  font-weight: bold
}

span.default {
  white-space: nowrap;
  font-family: monospace;
}

div.tip {
  margin-left : 5%;
  margin-right : 5%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: Silver;
  color:Black;
  border: ridge;
}
