---
type: specs.openrewrite.org/v1beta/recipe
name: org.checkstyle.AllAutoFixes
displayName: Auto Fixes
description: List of auto fixes from different providers.
recipeList:
#  - org.checkstyle.autofix.CheckstyleAutoFix:
#      configurationPath: config/checkstyle-checks.xml
#      propertiesPath: config/openrewrite-recipes-checkstyle.properties
#      violationReportPath: target/cs_errors.xml
#  - org.openrewrite.java.RemoveUnusedImports
#  - org.openrewrite.java.ShortenFullyQualifiedTypeReferences
#  - org.openrewrite.java.SimplifySingleElementAnnotation
#  - org.openrewrite.java.format.EmptyNewlineAtEndOfFile
#  - org.openrewrite.java.format.NormalizeFormat
#  - org.openrewrite.java.format.NormalizeLineBreaks
#  - org.openrewrite.java.format.PadEmptyForLoopComponents
#  - org.openrewrite.java.format.RemoveTrailingWhitespace
#  - org.openrewrite.java.migrate.UpgradeToJava21
#  - org.openrewrite.java.migrate.lang.JavaLangAPIs
#  - org.openrewrite.java.migrate.util.JavaUtilAPIs
#  - org.openrewrite.java.migrate.util.MigrateInflaterDeflaterToClose
#  - org.openrewrite.java.migrate.util.ReplaceStreamCollectWithToList
#  - org.openrewrite.java.migrate.util.SequencedCollection
#  - org.openrewrite.java.recipes.JavaRecipeBestPractices
#  - org.openrewrite.maven.BestPractices
#  - org.openrewrite.staticanalysis.BufferedWriterCreationRecipes
#  - org.openrewrite.staticanalysis.ChainStringBuilderAppendCalls
#  - org.openrewrite.staticanalysis.CustomImportOrder
#  - org.openrewrite.staticanalysis.DefaultComesLast
#  - org.openrewrite.staticanalysis.EmptyBlock
#  - org.openrewrite.staticanalysis.EqualsAvoidsNull
#  - org.openrewrite.staticanalysis.ExplicitInitialization
#  - org.openrewrite.staticanalysis.FallThrough
#  - org.openrewrite.staticanalysis.FinalizePrivateFields
#  - org.openrewrite.staticanalysis.ForLoopControlVariablePostfixOperators
#  - org.openrewrite.staticanalysis.HideUtilityClassConstructor
#  - org.openrewrite.staticanalysis.InlineVariable
#  - org.openrewrite.staticanalysis.JavaApiBestPractices
#  - org.openrewrite.staticanalysis.LowercasePackage
#  - org.openrewrite.staticanalysis.MissingOverrideAnnotation
#  - org.openrewrite.staticanalysis.ModifierOrder
#  - org.openrewrite.staticanalysis.NeedBraces
#  - org.openrewrite.staticanalysis.NoFinalizer
#  - org.openrewrite.staticanalysis.NoToStringOnStringType
#  - org.openrewrite.staticanalysis.NoValueOfOnStringType
#  - org.openrewrite.staticanalysis.RemoveUnusedLocalVariables
#  - org.openrewrite.staticanalysis.RemoveUnusedPrivateFields
#  - org.openrewrite.staticanalysis.RemoveUnusedPrivateMethods
#  - org.openrewrite.staticanalysis.ReplaceLambdaWithMethodReference
#  - org.openrewrite.staticanalysis.ReplaceStringBuilderWithString
#  - org.openrewrite.staticanalysis.ReplaceThreadRunWithThreadStart
#  - org.openrewrite.staticanalysis.SimplifyTernaryRecipes
#  - org.openrewrite.staticanalysis.TypecastParenPad
#  - org.openrewrite.staticanalysis.URLEqualsHashCodeRecipes
#  - org.openrewrite.staticanalysis.UnnecessaryCloseInTryWithResources
#  - org.openrewrite.staticanalysis.UnnecessaryExplicitTypeArguments
#  - org.openrewrite.staticanalysis.UnnecessaryParentheses
#  - org.openrewrite.staticanalysis.UnnecessaryReturnAsLastStatement
#  - org.openrewrite.staticanalysis.UseLambdaForFunctionalInterface
#  - tech.picnic.errorprone.refasterrules.BigDecimalRulesRecipes
#  - tech.picnic.errorprone.refasterrules.CharSequenceRulesRecipes
#  - tech.picnic.errorprone.refasterrules.ClassRulesRecipes
#  - tech.picnic.errorprone.refasterrules.CollectionRulesRecipes
#  - tech.picnic.errorprone.refasterrules.ComparatorRulesRecipes
#  - tech.picnic.errorprone.refasterrules.FileRulesRecipes
#  - tech.picnic.errorprone.refasterrules.MapRulesRecipes
#  - tech.picnic.errorprone.refasterrules.MicrometerRulesRecipes
#  - tech.picnic.errorprone.refasterrules.MockitoRulesRecipes
  - tech.picnic.errorprone.refasterrules.OptionalRulesRecipes
#  - tech.picnic.errorprone.refasterrules.PatternRulesRecipes
#  - tech.picnic.errorprone.refasterrules.PreconditionsRulesRecipes
#  - tech.picnic.errorprone.refasterrules.PrimitiveRulesRecipes
#  - tech.picnic.errorprone.refasterrules.StreamRulesRecipes
#  - tech.picnic.errorprone.refasterrules.TimeRulesRecipes
---