# List of GIT repositories to clone / pull for checking with Checkstyle
# File format: REPO_NAME|[local|git|hg]|URL|[COMMIT_ID]|[EXCLUDE FOLDERS]
# Please note that bash comments works in this file
#
# This file has been created to alleviate confusion in the contribution
# repository's projects-to-test-on.properties file; these projects
# must be used with special configurations.
openjdk17|git|https://github.com/openjdk/jdk17.git|master||
