h1 {
  text-transform: capitalize;
}

h2 {
  text-transform: capitalize;
}

h3 {
  text-transform: capitalize;
}

h4 {
  text-transform: capitalize;
}

.tip {
  margin-left : 5%;
  margin-right : 5%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #c0c0c0;
  color: #000000;
  border: ridge;
}

#bannerLeft img {
  float:left;
  position: relative;
  top: 0;
  left: 40px;

}

#banner {
  border-bottom: 1px solid #fff;
  background: url("../images/header-background.png") repeat-x scroll 0 0 transparent;
}

.dl-link {
  position: relative;
  float: right;
}

h2:hover .anchor, h3:hover .anchor {
  visibility: visible;
}

.anchor {
  visibility: hidden;
  display: inline-block;
}

.source {
  white-space: nowrap;
  padding: 0;
  overflow-x: auto;
}

.source > pre {
  margin: 0;
  padding: 12px;
  width: max-content;
}

.wrap-content pre {
  white-space: pre-line !important;
  word-wrap: break-word !important;
}

section {
  position: relative;
}

.releaseDate {
  position: absolute;
  top: 2px;
  right: 6px;
}

.wrapper {
  overflow-y: auto;
}

span.wrapper.block {
  display: block;
}

span.wrapper.inline {
  display: inline;
}

@media screen and (max-width: 600px) {
  #leftColumn {
    float: none;
    width: auto;
    margin: 1.5em;
  }

  #bodyColumn {
    margin: 1.5em;
  }

  #bannerRight {
    display: none;
  }

  p, h1, h2, h3, h4, h5, h6, li {
    word-break: break-word;
  }
}
