#* @vmatchive *#
<div id="contentBox" class="container-fluid">
  <div class="row">
    <div id="leftColumn" class="col-md-2">
      #parse("menu.vm")
    </div>
    <div id="bodyColumn" class="col-md-10 $bodyColumnClass">
      #if ($bodyContent)
        #set($bodyContent = $bodyContent.replaceAll(
          '<pre>(<code[ >](?!.*class="nohighlight nocode"))',
          '<pre class="prettyprint">$1'
        ))
        #set($bodyContent = $bodyContent.replace(
          'class="bodyTable"',
          'class="table table-striped"'
        ))
        #set($bodyContent = $bodyContent.replace(
          'class="bodyTable bodyTableBorder"',
          'class="table table-bordered table-striped"'
        ))
        $bodyContent
      #end
    </div>
  </div>
</div>
#parse("footer.vm")
