name: "Check PR Description"

on:
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Do action
        env:
          READ_ONLY_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          PULL_REQUEST: '${{ github.event.number }}'
        run: |
          ./.ci/pr-description.sh
