name: 'no-error testing'

on:
  push:
    branches:
      - main
  pull_request:
    branches: '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  no-error-kafka:
    if: github.repository == 'checkstyle/checkstyle'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25

      - name: Run Checkstyle on Apache Kafka
        run: ./.ci/validation.sh no-error-kafka

  no-error-trino:
    if: github.repository == 'checkstyle/checkstyle'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 23

      - name: Run Checkstyle on Trino
        run: ./.ci/validation.sh no-error-trino
