name: pitest workflow

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  pitest9:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: Generate pitest report
        run: ./.ci/pitest.sh pitest-JavaAstVisitor

      - name: Archive report
        if: always()
        uses: actions/upload-artifact@v2
        with:
            name: pitest-report-JavaAstVisitor
            path: /home/runner/work/checkstyle/checkstyle/target/pit-reports/
            retention-days: 7
