#####################################################################################
# GitHub Action to rebase pull request.
#
# Workflow starts when pr comment created or edited
#
# Job will not work if:
# 1. Patch branch name is 'master'
# 2. There were updates in GitHub actions in target branch (restriction by GitHub)
#####################################################################################
on:
  issue_comment:
    types: [created, edited]
name: Automatic Rebase

permissions:
  contents: write
  pull-requests: write

jobs:
  rebase:
    name: Rebase PR
    if: github.event.issue.pull_request != '' && github.event.comment.body == 'GitHub, rebase'
    runs-on: ubuntu-latest
    steps:
      - uses: khan/pull-request-comment-trigger@master
        name: React with rocket on run
        with:
          trigger: ','
          reaction: rocket
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - run: 'echo We print it here for this action to work'
        if: 'true'
      - name: Checkout the latest code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Automatic Rebase
        uses: cirrus-actions/rebase@1.3.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
