name: "Generate release notes"

on:
  workflow_dispatch: null
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Download checkstyle
        uses: actions/checkout@v3
      - name: Setup local maven cache
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: checkstyle-maven-cache-${{ hashFiles('**/pom.xml') }}

      - name: Generate release notes
        env:
          READ_ONLY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./.ci/releasenotes-gen.sh
