#############################################################################
# GitHub Action to Run Prepare goal of Maven Release plugin.
#
#############################################################################
name: "R: Maven Prepare"
run-name: "R: Maven Prepare ${{ inputs.version }}"
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'POM version without (-SNAPSHOT)'
        required: true
  workflow_call:
    inputs:
      version:
        type: string
        required: true

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  maven-prepare:
    name: Maven Prepare ${{ inputs.version }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the latest code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: master

      - name: Setup local maven cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: checkstyle-maven-cache-${{ hashFiles('**/pom.xml') }}

      - name: Commit and Push Credentials
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Run Shell Script
        run: |
          ./.ci/release-maven-prepare.sh ${{ inputs.version }}

      - name: Push commit
        run: |
          git push origin master --tags
