#############################################################################
# GitHub Action to Commit and Push Release Notes to releasenotes.xml File.
#
#############################################################################
name: "R: Update xdoc with Release Notes"
run-name: "R: Update xdoc with Release Notes ${{ inputs.version }}"
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'POM version without (-SNAPSHOT)'
        required: true
  workflow_call:
    inputs:
      version:
        type: string
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  update-xdoc-with-releasenotes:
    name: Update xdoc with Release Notes ${{ inputs.version }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout the latest code
        uses: actions/checkout@v6

      - name: Setup local maven cache
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: checkstyle-maven-cache-${{ hashFiles('**/pom.xml') }}

      - name: Run Shell Script
        env:
          READ_ONLY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./.ci/release-update-xdoc-with-releasenotes.sh ${{ inputs.version }}

      - name: Commit and Push
        run: |
            git config user.name 'github-actions[bot]'
            git config user.email 'github-actions[bot]@users.noreply.github.com'
            git add . && git commit -m "doc: release notes for ${{ inputs.version }}"
            git push origin main
