name: "Generate release notes"

on:
  workflow_dispatch: null
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  generate:
    if: github.repository == 'checkstyle/checkstyle'
    runs-on: ubuntu-24.04
    steps:
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Download checkstyle
        uses: actions/checkout@v6

      - name: Setup local maven cache
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: checkstyle-maven-cache-${{ hashFiles('**/pom.xml') }}

      - name: Generate release notes
        env:
          READ_ONLY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./.ci/releasenotes-gen.sh
