#############################################################################
# GitHub Action to run all phases of the release.
#
#############################################################################
name: "R: Release"
run-name: "R: Release ${{ inputs.version }}"
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'POM version without (-SNAPSHOT)'
        required: true

concurrency:
  group: Caller-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  update-xdoc-with-releasenotes:
    uses: ./.github/workflows/release-update-xdoc-with-releasenotes.yml
    with:
      version: ${{ inputs.version }}
    permissions:
      contents: write

  maven-prepare:
    uses: ./.github/workflows/release-maven-prepare.yml
    needs: update-xdoc-with-releasenotes
    with:
      version: ${{ inputs.version }}
    permissions:
      contents: write

  maven-perform:
    uses: ./.github/workflows/release-maven-perform.yml
    needs: maven-prepare
    with:
      version: ${{ inputs.version }}
    secrets: inherit
    permissions:
      contents: read

  update-github-page:
    uses: ./.github/workflows/release-update-github-page.yml
    needs: maven-perform
    with:
      version: ${{ inputs.version }}
    secrets: inherit
    permissions:
      contents: write

  upload-all-jar:
    uses: ./.github/workflows/release-upload-all-jar.yml
    needs: update-github-page
    with:
      version: ${{ inputs.version }}
    secrets: inherit
    permissions:
      contents: write

  new-milestone-and-issues-in-other-repos:
    uses: ./.github/workflows/release-new-milestone-and-issues-in-other-repos.yml
    needs: update-github-page
    with:
      version: ${{ inputs.version }}
    secrets: inherit
    permissions:
      contents: write
      issues: write

  # until https://github.com/checkstyle/checkstyle/issues/13094
  # publish-releasenotes-twitter:
  #   uses: ./.github/workflows/release-publish-releasenotes-twitter.yml
  #   needs: update-github-page
  #   with:
  #     version: ${{ inputs.version }}
  #   secrets: inherit

  update-github-io:
    uses: ./.github/workflows/release-update-github-io.yml
    needs: maven-perform
    with:
      version: ${{ inputs.version }}
    secrets: inherit

  copy-github-io-to-sourceforge:
    uses: ./.github/workflows/release-copy-github-io-to-sourceforge.yml
    needs: update-github-io
    with:
      version: ${{ inputs.version }}
    secrets: inherit
